<section class="content-header">
    <div class="row">
        <div class="col-lg-12">
            <a href="">
                <h4><i class="glyphicon glyphicon-menu-left font-14" aria-hidden="true"></i> Back</h4>
            </a>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="row pad-t-5">
                        <div class="col-lg-3 box-title">
                            Broker Confirmation
                        </div>
                        <div class="col-lg-3 box-title">
                            Event ID: 51875
                        </div>
                        <div class="col-lg-3 box-title">
                            <i class="fa fa-circle text-blue" aria-hidden="true"></i>&nbsp;&nbsp;Status: Edited
                        </div>
                        <div class="col-lg-3 box-title">
                            Settlement Type: Settlement
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <fieldset>
                        <legend>IFC Sell Trade Confirmation</legend>
                        <div class="col-lg-3 form-group">
                            <h5>ISIN</h5>
                            <input class="form-control" id="" value="PEP133001003 " type="text">
                        </div>
                        <div class="col-lg-3 form-group">
                            <h5>Security ID</h5>
                            <input class="form-control" id="" value="224850909 " type="text">
                        </div>
                        <div class="col-lg-3 form-group">
                            <h5>Type of Trade</h5>
                            <input class="form-control" id="" value=" " type="text">
                        </div>
                        <div class="col-lg-3 form-group">
                            <h5>PSET</h5>
                            <input class="form-control" id="" value=" " type="text">
                        </div>
                        <div class="col-lg-3 form-group">
                            <h5>Trade Date</h5>
                            <div class='input-group date'>
                                <input id="date-picker-td" placeholder="DD/MM/YYYY" type="text" class="date-picker form-control" />
                                <label for="date-picker-td" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>                                            
                                            </label>
                            </div>
                        </div>
                        <div class="col-lg-3 form-group">
                            <h5>Settlement Date</h5>
                            <div class='input-group date'>
                                <input id="date-picker-sd" placeholder="DD/MM/YYYY" type="text" class="date-picker form-control" />
                                <label for="date-picker-sd" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>                                            
                                                    </label>
                            </div>
                        </div>
                        <div class="col-lg-3 form-group">
                            <h5>Number of Shares Purchased</h5>
                            <input class="form-control" id="" value=" " type="text">
                        </div>
                        <div class="col-lg-3 form-group">
                            <h5>Price</h5>
                            <input class="form-control" id="" value=" " type="text">
                        </div>
                        <div class="col-lg-3 form-group">
                            <h5>Currency</h5>
                            <select class="form-control" id="">
                                    <option selected="" value="Select">Select</option>
                                    <option value="AED">AED</option>
                                    <option value="ADP">ADP</option>
                                    <option value="AFA">AFA</option>
                                    <option value="BAD">BAD</option>
                                    <option value="BEL">BEL</option>
                                    <option value="USD">USD</option>
                                    <option value="YUN">YUN</option>
                            </select>
                        </div>
                        <div class="col-lg-3 form-group">
                            <h5>Deal Amount</h5>
                            <input class="form-control" id="" type="text">
                        </div>
                        <div class="col-lg-3 form-group">
                            <h5>Commission &amp; Other Fees</h5>
                            <input class="form-control" id="" type="text">
                        </div>
                        <div class="col-lg-3 form-group">
                            <h5>Settlement Amount</h5>
                            <input class="form-control" id="" type="text">
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col-lg-6">
                            <fieldset>
                                <legend>SELL-Settlement Instructions</legend>
                                <div class="col-lg-6 form-group">
                                    <h5>Legal Entity</h5>
                                    <input class="form-control" id="" type="text">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <h5>Cash Account</h5>
                                    <input class="form-control" id="" type="text">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <h5>Bank</h5>
                                    <div class="input-group">
                                        <input class="form-control" placeholder="" id="" type="text">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary btn-right" type="submit">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 form-group">
                                    <h5>Beneficiary BIC</h5>
                                    <input class="form-control" id="" type="text">
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-lg-6">
                            <fieldset>
                                <legend>BUY-Settlement Instructions</legend>
                                <div class="col-lg-6 form-group">
                                    <h5>Institution</h5>
                                    <div class="input-group">
                                        <input class="form-control" placeholder="" id="" type="text">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary btn-right" type="submit">
                                                                        <span class="glyphicon glyphicon-search"></span>
                                                                    </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 form-group">
                                    <h5>BIC</h5>
                                    <div class="input-group">
                                        <input class="form-control" placeholder="" id="" type="text">
                                        <div class="input-group-btn">
                                            <button class="btn btn-primary btn-right" type="submit">
                                                                            <span class="glyphicon glyphicon-search"></span>
                                                                        </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 form-group">
                                    <h5>Contact Name</h5>
                                    <input class="form-control" id="" type="text">
                                </div>
                                <div class="col-lg-6 form-group">
                                    <h5>Email</h5>
                                    <input class="form-control" id="" type="text">
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-link link pull-left"><i class="fa fa-file-pdf-o fa-fw text-red" aria-hidden="true"></i> Export to PDF</button>
                            <button type="button" class="btn btn-primary pull-right">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>