<section class="content-header">
    <h1>
        Shareholder Confirmation Contact
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="panel box">
                <div class="box-header with-border panel-heading">
                    <h4 class="box-title">
                        <a class="accordion-toggle pad-t-5" data-toggle="collapse" data-parent="#accordion" data-target="#contact" href="">
                            Search by Institution / Project
                        </a>
                    </h4>
                </div>
                <div id="contact" class="panel-collapse collapse in">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-4">
                                <div class="form-group">
                                    <select class="form-control" id="">
                                    <option value="Select Search by">Select Search by</option>
                                    <option value="Project Name / Number">Project Name / Number</option>
                                    <option value="Institution Name / Number">Institution Name / Number</option>                                      
                                </select>
                                </div>
                            </div>
                            <div class="col-lg-4 pad-t-15">
                                <div class="form-group">
                                    <input class="form-control" id="" type="text">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                                <button type="button" class="btn btn-primary btn-block">Search</button>
                            </div>
                            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3">
                                <button type="button" class="btn btn-link link">Reset</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 pad-t-15 charectorSearch">
                                <a class="active" href="">All</a>
                                <a href="">A</a>
                                <a href="">B</a>
                                <a href="">C</a>
                                <a href="">D</a>
                                <a href="">E</a>
                                <a href="">F</a>
                                <a href="">G</a>
                                <a href="">H</a>
                                <a href="">I</a>
                                <a href="">J</a>
                                <a href="">K</a>
                                <a href="">L</a>
                                <a href="">M</a>
                                <a href="">N</a>
                                <a href="">O</a>
                                <a href="">P</a>
                                <a href="">Q</a>
                                <a href="">R</a>
                                <a href="">S</a>
                                <a href="">T</a>
                                <a href="">U</a>
                                <a href="">V</a>
                                <a href="">W</a>
                                <a href="">X</a>
                                <a href="">Y</a>
                                <a href="">Z</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="">
                            <ul class="nav navbar-nav">
                                <li class="pad-l-15" style="padding-top: 7px;">Showing Records</li>
                                <li class="form-group pad-l-15 mar-r-15">
                                    <select class="form-control" id="">
                                        <option value="">Select</option>
                                        <option value="1">10</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </li>
                                <li class="pad-l-15" style="padding-top: 7px;">Jump To</li>
                                <li class="form-group pad-l-15 mar-r-15">
                                    <select class="form-control" id="">
                                        <option value="">Select</option>
                                        <option value="1">10</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th>Institution Name</th>
                                            <th>Institution Full Name</th>
                                            <th>No. of Contacts</th>
                                            <th>Primary Contact</th>
                                            <th>Contact Email ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>

                                            <td class="uppercase"><a href="" data-toggle="modal" data-target="#institutionName">ABM</a></td>
                                            <td class="uppercase">Argentine Investment Corporation sa</td>
                                            <td>2</td>
                                            <td>ABC User</td>
                                            <td>abc@worldbankgroup.com</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <h5 class="pull-left text-muted">
                                Showing 1 to 10 of 1234 with 75 pages
                            </h5>
                            <div class="pagination pull-right charectorSearch">
                                <a href="#"><i class="fa fa-angle-left fa-fw" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-angle-double-left fa-fw" aria-hidden="true"></i></a>
                                <a href="#">1</a>
                                <a class="active" href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <a href="#"><i class="fa fa-angle-double-right fa-fw" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-angle-right fa-fw" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>


<!--Institution name modal -->
<div id="institutionName" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 75%;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Institution Name: ACS Glass</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6">
                        <span class="mar-r-15"><strong>Instituion Full Name:</strong></span>
                        <span>Anadolu Cam Sanayii Anonim Sirketi</span>
                    </div>
                    <div class="col-lg-3 pad-0">
                        <span class="mar-r-15"><strong>Instituion Number:</strong></span>
                        <span>23156</span>
                    </div>
                    <div class="col-lg-3 pad-0">
                        <span class="mar-r-15"><strong>Project Number:</strong></span>
                        <span>251389</span>
                    </div>
                </div>
                <div class="table-responsive pad-t-20">
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="10%">Prefix</th>
                                <th width="10%">First Name</th>
                                <th width="10%">Last Name</th>
                                <th width="10%">JobTitle</th>
                                <th width="10%">Phone</th>
                                <th width="10%">Fax</th>
                                <th width="20%">Email</th>
                                <th width="10%">Primary Contact</th>
                                <th width="10%">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-down">
                                <td>Mr.</td>
                                <td>Rayen</td>
                                <td>Wilson</td>
                                <td>CEO</td>
                                <td>9596949392</td>
                                <td>5647372</td>
                                <td>rayen.wilson@abc.com</td>
                                <td>Yes</td>
                                <td class="pad-0">
                                    <a href="" class="fa fa-fw fa-pencil-square-o text-black fa-lg" aria-hidden="true"></a>
                                    <a href="" class="fa fa-fw fa-trash-o text-black fa-lg" aria-hidden="true"></a>
                                </td>
                            </tr>
                            <tr class="border-down">
                                <td class="pad-t-20">
                                    <div class="form-group mar-0">
                                        <select class="form-control" id="">
                                            <option value="">Dr.</option>
                                            <option value="">Mrs.</option>
                                            <option value="">Miss.</option>
                                            <option value="">Mr.</option>                                            
                                        </select>
                                    </div>
                                </td>
                                <td class="pad-t-20">
                                    <div class="form-group mar-0">
                                        <input type="text" id="" class="form-control">
                                    </div>
                                </td>
                                <td class="pad-t-20">
                                    <div class="form-group mar-0">
                                        <input type="text" id="" class="form-control">
                                    </div>
                                </td>
                                <td class="pad-t-20">
                                    <div class="form-group mar-0">
                                        <select class="form-control" id="">
                                                <option value="AccountManager">Account Manager</option>
                                                <option value="CEO">CEO</option>
                                                <option value="CFO">CFO</option>
                                                <option value="Chariman">Chariman</option>
                                                <option value="CharimanCEO">Chariman &amp; CEO</option>
                                                <option value="ListItem1">List Item1</option>                                                
                                        </select>
                                    </div>
                                </td>
                                <td class="pad-t-20">
                                    <div class="form-group mar-0">
                                        <input type="text" id="" class="form-control">
                                    </div>
                                </td>
                                <td class="pad-t-20">
                                    <div class="form-group mar-0">
                                        <input type="text" id="" class="form-control">
                                    </div>
                                </td>
                                <td class="pad-t-20">
                                    <div class="form-group mar-0">
                                        <input type="text" id="" class="form-control">
                                    </div>
                                </td>
                                <td class="pad-t-20">
                                    <label class="bemSwitch">
                                        <input checked="" type="checkbox" checked="">
                                        <span class="bemSlider"></span>
                                    </label>
                                </td>
                                <td class="pad-0">
                                    <a href="" class="fa fa-fw fa-floppy-o text-black fa-lg pad-t-20" aria-hidden="true"></a>
                                    <a href="" class="fa fa-fw fa-plus-square-o text-black fa-lg pad-t-20" aria-hidden="true"></a>
                                    <a href="" class="fa fa-fw fa-trash-o text-black fa-lg pad-t-20" aria-hidden="true"></a>
                                </td>
                            </tr>
                            <tr class="border-down">
                                <td class="pad-t-20">
                                    <div class="form-group mar-0">
                                        <select class="form-control" id="">
                                            <option value="">Dr.</option>
                                            <option value="">Mrs.</option>
                                            <option value="">Miss.</option>
                                            <option value="">Mr.</option>                                            
                                        </select>
                                    </div>
                                </td>
                                <td class="pad-t-20">
                                    <div class="form-group mar-0">
                                        <input type="text" id="" class="form-control">
                                    </div>
                                </td>
                                <td class="pad-t-20">
                                    <div class="form-group mar-0">
                                        <input type="text" id="" class="form-control">
                                    </div>
                                </td>
                                <td class="pad-t-20">
                                    <div class="form-group mar-0">
                                        <select class="form-control" id="">
                                                    <option value="AccountManager">Account Manager</option>
                                                    <option value="CEO">CEO</option>
                                                    <option value="CFO">CFO</option>
                                                    <option value="Chariman">Chariman</option>
                                                    <option value="CharimanCEO">Chariman &amp; CEO</option>
                                                    <option value="ListItem1">List Item1</option>                                                
                                            </select>
                                    </div>
                                </td>
                                <td class="pad-t-20">
                                    <div class="form-group mar-0">
                                        <input type="text" id="" class="form-control">
                                    </div>
                                </td>
                                <td class="pad-t-20">
                                    <div class="form-group">
                                        <input type="text" id="" class="form-control">
                                    </div>
                                </td>
                                <td class="pad-t-20">
                                    <div class="form-group mar-0">
                                        <input type="text" id="" class="form-control">
                                    </div>
                                </td>
                                <td class="pad-t-20">
                                    <label class="bemSwitch">
                                            <input checked="" type="checkbox" checked="">
                                            <span class="bemSlider"></span>
                                        </label>
                                </td>
                                <td class="pad-0">
                                    <a href="" class="fa fa-fw fa-floppy-o text-black fa-lg pad-t-20" aria-hidden="true"></a>
                                    <a href="" class="fa fa-fw fa-plus-square-o text-black fa-lg pad-t-20" aria-hidden="true"></a>
                                    <a href="" class="fa fa-fw fa-trash-o text-black fa-lg pad-t-20" aria-hidden="true"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--EO Institution name modal -->