<section class="content-header">
    <h1 class="pull-left pad-t-5">
        Create New Account Event
    </h1>

    <ul class="nav navbar-nav step-right hidden-xs hidden-sm">
        <li class="selected">Step 1</li>
        <li>Step 2</li>
        <li>Step 3</li>
    </ul>

    <div class="nav navbar-nav pull-right hidden-xs hidden-sm pad-b-10 mar-m-5">

        <button type="button" class="btn btn-link link">Cancel</button>
        <button type="button" class="btn btn-link link">Edit</button>
        <button type="button" class="btn btn-primary mar-r-15">Recalculate</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#submitModel">Submit</button>

    </div>
</section>
<section class="content">
    <div class="row">
        <div id="accordion" class="col-lg-12">
            <div class="panel box">
                <div class="box-header no-border panel-heading">
                    <h4 class="box-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" href="">
                            <span class="badge active">1</span> Event Type
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="box-body">
                        <div class="col-sm-3 text-right">
                            <h4>Legal Entity - IFC</h4>
                        </div>
                        <div class="col-sm-3 form-group">
                            <select class="form-control">
                                    <option selected="" value="Select Event Type">Select Event Type</option>
                                    <option value="BasisAdjustment">Basis Adjustment</option>
                                    <option value="BasisAdjustmentNon-CF">Basis Adjustment Non-CF</option>
                                    <option value="Cancellation">Cancellation</option>
                                    <option value="CapitalGain">Capital Gain</option>
                                    <option value="CashDividend">Cash Dividend</option>
                                    <option value="Commitment">Commitment</option>
                                    </select>
                        </div>
                        <div class="col-sm-3 form-group">
                            <select class="form-control">
                                    <option>Select Trade Type</option>
                                    <option>Regular</option>                                                
                                </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel box">
                <div class="box-header with-border panel-heading">
                    <h4 class="box-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" href="">
                            <span class="badge">2</span> Event Details - Regular
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="box-body">
                        <fieldset>
                            <legend>Event Details</legend>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3 form-group">
                                        <h5>Institution / Project <sup> * </sup></h5>
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Search" id="" type="text">
                                            <div class="input-group-btn">
                                                <button class="btn btn-primary btn-right" type="submit" data-toggle="modal" data-target="#institutionProject">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 form-group">
                                        <h5>Tranche <sup> * </sup></h5>
                                        <select class="form-control" id="" disabled="">
                                            <option value="IFC">Select</option>                                                      
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-3 form-group">
                                        <h5>Initiative <sup> * </sup></h5>
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Search" id="" type="text">
                                            <div class="input-group-btn">
                                                <button class="btn btn-primary btn-right" type="submit" data-toggle="modal" data-target="#initiative">
                                                    <span class="glyphicon glyphicon-search"></span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 form-group">
                                        <h5>Investor <sup> * </sup></h5>
                                        <select class="form-control" id="">
                                            <option value="IFC">IFC</option>                                                      
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset>
                            <legend>Event References</legend>
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3 form-group">
                                        <h5>Posting Date <sup> * </sup></h5>
                                        <div class='input-group date'>
                                            <input id="date-picker-pd" placeholder="DD/MM/YYYY" type="text" class="date-picker form-control" />
                                            <label for="date-picker-pd" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>                                            
                                        </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 form-group">
                                        <h5>Value Date <sup> * </sup></h5>
                                        <div class='input-group date'>
                                            <input id="date-picker-vd" placeholder="DD/MM/YYYY" type="text" class="date-picker form-control" />
                                            <label for="date-picker-vd" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>                                            
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 form-group">
                                        <h5>Approval Date <sup> * </sup></h5>
                                        <div class='input-group date'>
                                            <input id="date-picker-ad" placeholder="DD/MM/YYYY" type="text" class="date-picker form-control" />
                                            <label for="date-picker-ad" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>                                            
                                                </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 form-group">
                                        <h5>Modificaton Date <sup> * </sup></h5>
                                        <div class='input-group date'>
                                            <input id="date-picker-md" placeholder="DD/MM/YYYY" type="text" class="date-picker form-control" />
                                            <label for="date-picker-md" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>                                            
                                                    </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 form-group">
                                        <h5>Settlement Type <sup> * </sup></h5>
                                        <select class="form-control" id="">
                                                <option value="IFC">Select</option>                                                      
                                            </select>
                                    </div>
                                    <div class="col-lg-3 form-group">
                                        <h5>Settlement Date <sup> * </sup></h5>
                                        <div class='input-group date'>
                                            <input id="date-picker-sd" placeholder="DD/MM/YYYY" type="text" class="date-picker form-control" />
                                            <label for="date-picker-sd" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>                                            
                                                        </label>
                                        </div>
                                    </div>
                                    <div class="col-lg-3 form-group">
                                        <h5>Proration Method <sup> * </sup></h5>
                                        <select class="form-control" id="">
                                            <option value="IFC">Commitment</option>                                                      
                                        </select>
                                    </div>
                                    <div class="col-lg-3 form-group">
                                        <h5>EPMS Transaction ID</h5>
                                        <input class="form-control" id="" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-lg-4 form-group">
                                                <h5>Workflow Number</h5>
                                                <input class="form-control" id="" type="text">
                                            </div>
                                            <div class="col-lg-4 form-group">
                                                <h5>Import Reference ID</h5>
                                                <input class="form-control" id="" type="text">
                                            </div>
                                            <div class="col-lg-4 form-group">
                                                <h5>Reference Event ID</h5>
                                                <select class="form-control bemCustom" id="">
                                                        <option value="IFC">IFC</option>                                                      
                                                    </select>
                                            </div>
                                            <div class="col-lg-4 form-group">
                                                <h5>Ownership Percentage</h5>
                                                <label class="bemSwitch">
                                                    <input checked="" type="checkbox">
                                                    <span class="bemSlider"></span>
                                                </label>
                                            </div>
                                            <div class="col-lg-4 form-group">
                                                <h5>Wipe Off</h5>
                                                <label class="bemSwitch">
                                                    <input checked="" type="checkbox">
                                                    <span class="bemSlider"></span>
                                                </label>
                                            </div>
                                            <div class="col-lg-4 form-group">
                                                <h5>Fee Code</h5>
                                                <select class="form-control bemCustom" id="">
                                                        <option value="Select">Select</option>                                                      
                                                    </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="row">
                                            <div class="col-lg-12 form-group">
                                                <h5>Remarks</h5>
                                                <textarea class="form-control" rows="5" id="comment"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="light-blue-bg">
                            <legend>Transaction Details</legend>
                            <div class="col-lg-3 form-group">
                                <h5>Description <sup> * </sup></h5>
                                <select class="form-control bemCustom" id="">
                                        <option value="Common Shares">Common Shares</option>                                                      
                                    </select>
                            </div>
                            <div class="col-lg-3 form-group">
                                <h5>Security Type <sup> * </sup></h5>
                                <select class="form-control bemCustom" id="">
                                        <option value="Common Shares">Common Shares</option>                                                      
                                    </select>
                            </div>
                            <div class="col-lg-3 form-group">
                                <h5>Option ID or Price / Unit <sup> * </sup></h5>
                                <select class="form-control bemCustom" id="">
                                        <option value="0">0</option>                                                      
                                    </select>
                            </div>
                            <div class="col-lg-3 form-group">
                                <h5>Quantity</h5>
                                <input class="form-control" id="" type="text">
                            </div>
                            <div class="col-lg-3 form-group">
                                <h5>Currency <sup> * </sup></h5>
                                <select class="form-control bemCustom" id="">
                                        <option value="USD">USD</option>
                                        <option value="Euro">Euro</option>
                                    </select>
                            </div>
                            <div class="col-lg-3 form-group">
                                <h5>FX Rate</h5>
                                <div class="input-group">
                                    <input class="form-control" placeholder="Search" id="" type="text">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default btn-right" type="submit" data-toggle="modal" data-target="#eventDetailsModel">
                                                    1/x
                                            </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 form-group">
                                <h5>Local Amount <sup> * </sup></h5>
                                <input class="form-control" id="" type="text">
                            </div>
                            <div class="col-lg-3 form-group">
                                <h5>Legal Amount <sup> * </sup></h5>
                                <input class="form-control" id="" type="text">
                            </div>
                            <div class="col-lg-12 pad-b-15">
                                <a href="">
                                    <i class="btn btn-bem" ng-class="'icn-plus'"></i> <span class="icn-text">Add</span>
                                </a>
                            </div>
                        </fieldset>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="button" class="btn pull-left bg-grey"><i class="fa fa-angle-left fa-fw" aria-hidden="true"></i> Previous</button>
                                <button type="button" class="btn btn-primary pull-right">Generate</button>
                                <button type="button" class="btn btn-link link pull-right">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel box">
                <div class="box-header with-border panel-heading">
                    <h4 class="box-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" href="">
                            <span class="badge">3</span> Generated Entries
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-4 pad-0 form-group">
                                <div class="col-xs-5"><strong>Institution:</strong></div>
                                <div class="col-xs-7">21 Concordia</div>
                            </div>
                            <div class="col-lg-4 pad-0 form-group">
                                <div class="col-xs-5"><strong>Posting Date:</strong></div>
                                <div class="col-xs-7">27 Jan 2017</div>
                            </div>
                            <div class="col-lg-4 pad-0 form-group">
                                <div class="col-xs-5"><strong>Currency:</strong></div>
                                <div class="col-xs-7">USD</div>
                            </div>
                            <div class="col-lg-4 pad-0 form-group">
                                <div class="col-xs-5"><strong>Batch ID:</strong></div>
                                <div class="col-xs-7">0</div>
                            </div>
                            <div class="col-lg-4 pad-0 form-group">
                                <div class="col-xs-5"><strong>Voucher Number:</strong></div>
                                <div class="col-xs-7">0</div>
                            </div>
                            <div class="col-lg-4 pad-0 form-group">
                                <div class="col-xs-5"><strong>Project:</strong></div>
                                <div class="col-xs-7">0</div>
                            </div>
                            <div class="col-lg-4 pad-0 form-group">
                                <div class="col-xs-5"><strong>Value Date:</strong></div>
                                <div class="col-xs-7">28 Jan 2017</div>
                            </div>
                            <div class="col-lg-4 pad-0 form-group">
                                <div class="col-xs-5"><strong>Legal Amount:</strong></div>
                                <div class="col-xs-7">0</div>
                            </div>
                            <div class="col-lg-4 pad-0 form-group">
                                <div class="col-xs-5"><strong>Local Amount:</strong></div>
                                <div class="col-xs-7">0</div>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-lg-12 mar-t-15">
                                <button type="button" class="btn btn-primary pull-right">Recalculate</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 nav-tabs-custom">
                                <ul class="nav nav-tabs">
                                    <li class="active"><a data-toggle="pill" data-target="#is" href="">Investment Split</a></li>
                                    <li><a data-toggle="pill" data-target="#aia" href="">Accounting and Investor Allocations</a></li>
                                    <li><a data-toggle="pill" data-target="#sia" href="">Settlement and Investor Allocatons</a></li>
                                    <li><a data-toggle="pill" data-target="#ia" href="">Inv Allocations</a></li>
                                </ul>
                                <div class="tab-content pad-0">
                                    <div id="is" class="tab-pane fade in active">
                                        <div class="table-responsive">
                                            <table class="table height-50">
                                                <thead>
                                                    <tr>
                                                        <th>Legal Entity Name</th>
                                                        <th>Deal</th>
                                                        <th>Position</th>
                                                        <th>Local Amount</th>
                                                        <th>Legal Amount</th>
                                                        <th>Quantity</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>Donor Trust Fund Investment (DTFI)</td>
                                                        <td>NA</td>
                                                        <td>NA</td>
                                                        <td>
                                                            <div class="form-group mar-0">
                                                                <input class="form-control text-right" id="" type="text" value="3,504.37">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group mar-0">
                                                                <input class="form-control text-right" id="" type="text" value="3,504.37">
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <div class="form-group mar-0">
                                                                <input class="form-control text-right" id="" type="text" value="">
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="aia" class="tab-pane fade">

                                        <div class="table-responsive">
                                            <table class="table table-hover table-striped" style="margin: 0;">
                                                <thead>
                                                    <tr>
                                                        <th colspan="3">Event Id: 29717</th>
                                                        <th colspan="3">Batch Number: 0</th>
                                                        <th colspan="7"></th>
                                                    </tr>
                                                    <tr>
                                                        <th>Inv Alloc</th>
                                                        <th>JE Index1</th>
                                                        <th>Project ID</th>
                                                        <th>Tranche No.</th>
                                                        <th>Account No.</th>
                                                        <th>Transaction Type</th>
                                                        <th>JE Type</th>
                                                        <th>Currency</th>
                                                        <th>LA-Debit</th>
                                                        <th>LA-Credit</th>
                                                        <th>LE-Debit</th>
                                                        <th>LE-Credit</th>
                                                        <th>Quantity</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>

                                                        <td>
                                                            <button class="btn btn-bem" ng-model="generalEntries" ng-class="generalEntries ? 'icn-minus' : 'icn-plus'" ng-click="generalEntries = !generalEntries;">                                                                                
                                                                    </button>
                                                        </td>
                                                        <td>1</td>
                                                        <td>-</td>
                                                        <td>-</td>
                                                        <td>70710020000000</td>
                                                        <td>Internal Cash Clearing-DR</td>
                                                        <td>DTFI Int Donor AC</td>
                                                        <td>USD</td>
                                                        <td>23.00 </td>
                                                        <td>23.00</td>
                                                        <td>23.00</td>
                                                        <td>23.00</td>
                                                        <td>23.00</td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="table-responsive">
                                            <table class="table ng-hide" ng-show="generalEntries">
                                                <thead>
                                                    <tr class="pad-5">
                                                        <th colspan="1">Total Local Amount: 23.0000</th>
                                                        <th colspan="1">Total Legal Amount : 23.0000</th>
                                                        <th colspan="3"></th>
                                                    </tr>
                                                    <tr>
                                                        <th>Initiative/Program</th>
                                                        <th>Investor</th>
                                                        <th>Amount Currency</th>
                                                        <th>Local Amount</th>
                                                        <th>Legal Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>INI-FMCC-1</td>
                                                        <td>Clean Technology Fund (CTF Euro) (TFC-1-C)</td>
                                                        <td>USD</td>
                                                        <td>23.00</td>
                                                        <td>23.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>INI-FMCC-1</td>
                                                        <td>Clean Technology Fund (CTF Euro) (TFC-1-C)</td>
                                                        <td>USD</td>
                                                        <td>23.00</td>
                                                        <td>23.00</td>
                                                    </tr>
                                                    <tr>
                                                        <td>INI-FMCC-1</td>
                                                        <td>Clean Technology Fund (CTF Euro) (TFC-1-C)</td>
                                                        <td>USD</td>
                                                        <td>23.00</td>
                                                        <td>23.00</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>


                                    </div>
                                    <div id="sia" class="tab-pane fade">
                                        <div class="table-responsive">
                                            <table class="table height-50">
                                                <thead>
                                                    <tr>
                                                        <th>Project ID</th>
                                                        <th>Tranche Number</th>
                                                        <th>Total Commitment</th>
                                                        <th>Disbursed and Outstanding</th>
                                                        <th>Undisbursed</th>
                                                        <th>Share Quantity</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>3024</td>
                                                        <td>80</td>
                                                        <td>No</td>
                                                        <td>0.0000</td>
                                                        <td>0.0000</td>
                                                        <td>0.0000</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="ia" class="tab-pane fade">
                                        <div class="table-responsive">
                                            <table class="table height-50">
                                                <thead>
                                                    <tr>
                                                        <th>Initiative/Program</th>
                                                        <th>Investor</th>
                                                        <th>Amount Currency</th>
                                                        <th>Local Amount</th>
                                                        <th>Legal Amount</th>

                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>INI-GAPSP-3</td>
                                                        <td>Finance Corporation, (FC)</td>
                                                        <td>USD</td>
                                                        <td>3,502,14</td>
                                                        <td>3,502,14</td>

                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 text-right">
                                <button type="button" class="btn btn-link link">Cancel</button>
                                <button type="button" class="btn btn-link link">Edit</button>
                                <button type="button" class="btn btn-primary mar-r-15">Recalculate</button>
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#submitModel">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- /.box-body -->

        </div>
    </div>
</section>


<!-- Modal search -->
<div class="modal fade" id="institutionProject" role="dialog">
    <div class="modal-dialog" style="width: 75%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <ul class="select2">
                    <li class="tag">Project 1<a href="#" title="Removing tag">x</a></li>
                    <li class="tag">Project 2<a href="#" title="Removing tag">x</a></li>
                    <li class="tag">Project 3<a href="#" title="Removing tag">x</a></li>
                </ul>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 form-group">
                        <div class="input-group">
                            <input class="form-control" placeholder="Search by Institution Name / Number" id="" type="text">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-right" type="submit">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 text-right">
                        <a href="">Clear all</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Institution Name</th>
                                        <th>Institution Number</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="col-lg-12">
                                                <div class="radio">
                                                    <input id="pl" type="radio" name="project" value="pl">
                                                    <label for="pl">Project Lease</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>54001</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="col-lg-12">
                                                <div class="radio">
                                                    <input id="p1" type="radio" name="project" value="p1">
                                                    <label for="p1">Project 1</label>
                                                </div>
                                            </div>
                                        </td>
                                        <td>54001</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="pagination pull-left charectorSearch mar-0">
                            <a href="#"><i class="fa fa-angle-left fa-fw" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-angle-double-left fa-fw" aria-hidden="true"></i></a>
                            <a href="#">1</a>
                            <a class="active" href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#"><i class="fa fa-angle-double-right fa-fw" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-angle-right fa-fw" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Project Name</th>
                                        <th>Project Number</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="fl" type="checkbox" name="check" value="fl">
                                                <label for="fl">First Lease</label>
                                            </div>
                                        </td>
                                        <td>
                                            01212
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="pr1" type="checkbox" name="check" value="pr1">
                                                <label for="pr1">Project 1</label>
                                            </div>
                                        </td>
                                        <td>
                                            01212
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button class="btn btn-primary pull-right" type="submit">
                            Submit
                        </button>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
<!-- EO Modal search -->


<!-- Modal Initiative -->
<div class="modal fade" id="initiative" role="dialog">
    <div class="modal-dialog" style="width: 75%;">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>

                <ul class="select2">
                    <li class="tag">INI-EOF-8<a href="#" title="Removing tag">x</a></li>
                    <li class="tag">INI-FMCC-1<a href="#" title="Removing tag">x</a></li>
                </ul>

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-lg-6 form-group">
                        <div class="input-group">
                            <input class="form-control" placeholder="Search by Institution Name / Number" id="" type="text">
                            <div class="input-group-btn">
                                <button class="btn btn-primary btn-right" type="submit">
                                                <span class="glyphicon glyphicon-search"></span>
                                            </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 text-right">
                        <a href="">Clear all</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table ng-table="" class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th width="50%">
                                            <div class="checkbox">
                                                <input id="in1" type="checkbox" name="check" value="fl">
                                                <label for="in1"><strong>Initiative</strong></label>
                                            </div>
                                        </th>
                                        <th width="50%">
                                            <div class="checkbox">
                                                <input id="pr1" type="checkbox" name="check" value="fl">
                                                <label for="pr1"><strong>Program</strong></label>
                                            </div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="in2" type="checkbox" name="check" value="fl">
                                                <label for="in2">PRG-CTIF Cleantech Innovation Facility</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="pr2" type="checkbox" name="check" value="fl">
                                                <label for="pr2">Program-1</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="in3" type="checkbox" name="check" value="fl">
                                                <label for="in3">INI-EOF-8</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="pr3" type="checkbox" name="check" value="fl">
                                                <label for="pr3">Program-2</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="in4" type="checkbox" name="check" value="fl">
                                                <label for="in4">INI-FMCC-1</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="pr4" type="checkbox" name="check" value="fl">
                                                <label for="pr4">Program-3</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="in5" type="checkbox" name="check" value="fl">
                                                <label for="in5">INI-FMCC-1</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="pr5" type="checkbox" name="check" value="fl">
                                                <label for="pr5">Program-4</label>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="checkbox">
                                                <input id="in6" type="checkbox" name="check" value="fl">
                                                <label for="in6">INI-FMCC-1</label>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="checkbox">
                                                <input id="pr6" type="checkbox" name="check" value="fl">
                                                <label for="pr6">Program-5</label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="pagination pull-left charectorSearch mar-0">
                            <a href="#"><i class="fa fa-angle-left fa-fw" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-angle-double-left fa-fw" aria-hidden="true"></i></a>
                            <a href="#">1</a>
                            <a class="active" href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#"><i class="fa fa-angle-double-right fa-fw" aria-hidden="true"></i></a>
                            <a href="#"><i class="fa fa-angle-right fa-fw" aria-hidden="true"></i></a>
                        </div>
                        <button class="btn btn-primary pull-right" type="submit">
                            Submit
                        </button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- EO Modal Initiative -->

<!-- Modal submit -->
<div id="submitModel" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">

            <div class="modal-body text-center">
                <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                <i class="checkmark"></i>
                <h3>Event ID : 32381</h3>
                <h4>Journal Enrty Created Succesfully</h4><br />
                <button type="button" class="btn btn-primary pad-l-r-30" ui-sref="viewAccountEvent">OK</button>
                <br /><br /> You also can: <a href="" type="button" class="btn btn-link">Edit</a>
                <a href="" type="button" class="btn btn-link link">View</a>
            </div>
        </div>

    </div>
</div>
<!-- EO Modal submit -->