<section class="content-header">
    <div class="row">
        <div class="col-lg-12">
            <div class="pull-left">
                <a href="">
                    <h4><i class="glyphicon glyphicon-menu-left font-14" aria-hidden="true"></i> Back</h4>
                </a>
            </div>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-primary" ui-sref="splitVoucher">Modify / Split Voucher</button>
            </div>
        </div>
    </div>


</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="row pad-t-5">
                        <div class="col-lg-3 box-title">
                            Event Linking
                        </div>
                        <div class="col-lg-3 box-title">
                            <i class="fa fa-circle text-blue" aria-hidden="true"></i>&nbsp;&nbsp; Event Status - Linked
                        </div>
                        <div class="col-lg-2 box-title">
                            Imported: True
                        </div>
                        <div class="col-lg-3 box-title">
                            Event Type: Settlement Receipt
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Event ID</div>
                                        <div class="col-lg-6 description-header">52381</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Voucher Number</div>
                                        <div class="col-lg-6 description-header">TST83</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Legal Entity</div>
                                        <div class="col-lg-6 description-header">MCPP</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Institution</div>
                                        <div class="col-lg-6 description-header">XYZ Co</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Currency</div>
                                        <div class="col-lg-6 description-header">USD</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Local Amount</div>
                                        <div class="col-lg-6 description-header">1000.0000</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Legal Amount</div>
                                        <div class="col-lg-6 description-header">1000.0000</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Posting Date</div>
                                        <div class="col-lg-6 description-header">29 Jun 2017</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Settlement Date</div>
                                        <div class="col-lg-6 description-header">29 Jun 2017</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Initiative - Investor</div>
                                        <div class="col-lg-6 description-header">INI-MCPP SAFE-11</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Application ID</div>
                                        <div class="col-lg-6 description-header">25099</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Bank Item ID</div>
                                        <div class="col-lg-6 description-header">0</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" ng-show="lessMore">
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">DR/CR Indicator</div>
                                        <div class="col-lg-6 description-header">DR</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Reserved Indicator</div>
                                        <div class="col-lg-6 description-header">N</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Payment Receipt</div>
                                        <div class="col-lg-6 description-header">P</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Quantity</div>
                                        <div class="col-lg-6 description-header">0</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Price Per Share</div>
                                        <div class="col-lg-6 description-header">00000</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Captions</div>
                                        <div class="col-lg-6 description-header">23456</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Remarks</div>
                                        <div class="col-lg-6 description-header">Line 1</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">FX Rate</div>
                                        <div class="col-lg-6 description-header">1.0000000000</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Created On</div>
                                        <div class="col-lg-6 description-header">29 Jun 2017</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Created By</div>
                                        <div class="col-lg-6 description-header">User 1</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Changed By</div>
                                        <div class="col-lg-6 description-header">User</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Changed On</div>
                                        <div class="col-lg-6 description-header">29 Jun 2017</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button class="btn btn-link pull-right link" ng-click="lessMore = !lessMore">{{lessMoreText}}</button>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col-lg-12 pad-b-15">
                            <h4>Available Events</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-5 pad-0">
                                <div class="table-responsive">
                                    <table class="table table-hover height-small">
                                        <thead>
                                            <tr>
                                                <th>Link</th>
                                                <th>Event ID
                                                    <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                </th>
                                                <th>Event Type
                                                    <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                </th>
                                                <th>Event Status
                                                    <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="bg-gray">
                                                <td>&nbsp;</td>
                                                <td class="form-group">
                                                    <input class="form-control" id="" type="text">
                                                </td>
                                                <td class="form-group">
                                                    <select class="form-control" id="">
                                                            <option value="1">Disbursement</option>                                                                        
                                                        </select>
                                                </td>
                                                <td class="form-group">
                                                    <select class="form-control" id="">
                                                            <option value="1">New</option>                                                                            
                                                        </select>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="radio height-20">
                                                        <input id="ae1" type="radio" name="availableEvents" value="">
                                                        <label for="ae1"></label>
                                                    </div>
                                                </td>
                                                <td>
                                                    <a href=""></a>20001</a>
                                                </td>
                                                <td>Disbursement</td>
                                                <td><i class="fa fa-fw fa-circle" aria-hidden="true" style="color: #00B0FF;"></i> New</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="radio height-20">
                                                        <input id="ae2" type="radio" name="availableEvents" value="">
                                                        <label for="ae2"></label>
                                                    </div>
                                                </td>
                                                <td><a href="">20001</a></td>
                                                <td>Disbursement</td>
                                                <td><i class="fa fa-fw fa-circle" aria-hidden="true" style="color: #339966;"></i> New</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-7 pad-0">
                                <div class="table-responsive">
                                    <table class="table table-hover height-small">
                                        <thead>
                                            <tr>
                                                <th>Institution
                                                    <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                </th>
                                                <th>Project ID
                                                    <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                </th>
                                                <th>Legal Entity
                                                    <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                </th>
                                                <th>Imported
                                                    <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                </th>
                                                <th>EPMS ID
                                                    <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                </th>
                                                <th>Import Ref ID
                                                    <a href="" class="fa fa-sort text-black" aria-hidden="true"></a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="bg-gray">
                                                <td class="form-group">
                                                    <select class="form-control" id="">
                                                                    <option value="1">XYZ Co</option>                                                                        
                                                                </select>
                                                </td>
                                                <td class="form-group">
                                                    <input class="form-control" id="" type="text">
                                                </td>
                                                <td class="form-group">
                                                    <select class="form-control" id="">
                                                                        <option value="1">IFC</option>                                                                        
                                                                    </select>
                                                </td>
                                                <td class="form-group">
                                                    <select class="form-control" id="">
                                                                            <option value="1">ABS</option>                                                                        
                                                                        </select>
                                                </td>
                                                <td class="form-group">
                                                    <input class="form-control" id="" type="text">
                                                </td>
                                                <td class="form-group">
                                                    <input class="form-control" id="" type="text">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>XYZ Co</td>
                                                <td>8002</td>
                                                <td>IFC</td>
                                                <td>False</td>
                                                <td>7009</td>
                                                <td>3002</td>
                                            </tr>
                                            <tr>
                                                <td>XYZ Co</td>
                                                <td>8002</td>
                                                <td>IFC</td>
                                                <td>False</td>
                                                <td>7009</td>
                                                <td>3002</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 pad-t-20">
                            <button type="button" class="btn btn-primary pull-right" ng-model="eventLink" ng-click="eventLink=true">Link</button>
                        </div>
                    </div>
                    <div class="row" ng-show="eventLink">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12 pad-b-15">
                                    <h4>Linked Events</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-5 pad-0">
                                        <div class="table-responsive">
                                            <table class="table table-hover height-small">
                                                <thead>
                                                    <tr>
                                                        <th>Link</th>
                                                        <th>Event ID
                                                            <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                        </th>
                                                        <th>Event Type
                                                            <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                        </th>
                                                        <th>Event Status
                                                            <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="bg-gray">
                                                        <td>&nbsp;</td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <select class="form-control" id="">
                                                                <option value="1">Disbursement</option>                                                                        
                                                            </select>
                                                        </td>
                                                        <td class="form-group">
                                                            <select class="form-control" id="">
                                                                <option value="1">New</option>                                                                            
                                                            </select>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href=""><i class="fa fa-chain-broken fa-fw" aria-hidden="true"></i></a>
                                                        </td>
                                                        <td><a href="">20001</a></td>
                                                        <td>Disbursement</td>
                                                        <td><i class="fa fa-fw fa-circle" aria-hidden="true" style="color: #00B0FF;"></i> New</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href=""><i class="fa fa-chain-broken fa-fw" aria-hidden="true"></i></a>
                                                        </td>
                                                        <td><a href="">20001</a></td>
                                                        <td>Disbursement</td>
                                                        <td><i class="fa fa-fw fa-circle" aria-hidden="true" style="color: #339966;"></i> New</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 pad-0">
                                        <div class="table-responsive">
                                            <table class="table table-hover height-small">
                                                <thead>
                                                    <tr>
                                                        <th>Institution
                                                            <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                        </th>
                                                        <th>Project ID
                                                            <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                        </th>
                                                        <th>Investor
                                                            <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                        </th>
                                                        <th>Initiative
                                                            <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                        </th>
                                                        <th>EPMS ID
                                                            <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                        </th>
                                                        <th>Import Ref ID
                                                            <a href="" class="fa fa-sort text-black" aria-hidden="true"></a>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="bg-gray">
                                                        <td class="form-group">
                                                            <select class="form-control" id="">
                                                                        <option value="1">XYZ Co</option>                                                                        
                                                                    </select>
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <select class="form-control" id="">
                                                                            <option value="1">IFC</option>                                                                        
                                                                        </select>
                                                        </td>
                                                        <td class="form-group">
                                                            <select class="form-control" id="">
                                                                                <option value="1">ABS</option>                                                                        
                                                                            </select>
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>XYZ Co</td>
                                                        <td>8002</td>
                                                        <td>IFC</td>
                                                        <td>False</td>
                                                        <td>7009</td>
                                                        <td>3002</td>
                                                    </tr>
                                                    <tr>
                                                        <td>XYZ Co</td>
                                                        <td>8002</td>
                                                        <td>IFC</td>
                                                        <td>False</td>
                                                        <td>7009</td>
                                                        <td>3002</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 pad-t-20">
                                    <button type="button" class="btn btn-primary pull-right" data-toggle="modal" data-target="#eventLinkSubmit">Submit</button>
                                    <button type="button" class="btn btn-link link pull-right">Settle</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal submit -->
<div id="eventLinkSubmit" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width: 35%;">
        <div class="modal-content">

            <div class="modal-body text-center">
                <button type="button" class="close pull-right" data-dismiss="modal">&times;</button>
                <i class="checkmark"></i>
                <h4>Events Linked Succesfully</h4><br />
                <button type="button" class="btn btn-primary pad-l-r-30" ui-sref="viewAccountEvent">OK</button>
            </div>
        </div>

    </div>
</div>
<!-- EO Modal submit -->