<section class="content-header">
    <h1>
        Home
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Active Projects</h3>
                    <div class="box-tools pull-right dropdown">
                        <button type="button" class="btn btn-box-tool" data-toggle="dropdown"><i class="glyphicon glyphicon-option-vertical" aria-hidden="true"></i></button>
                        <ul class="dropdown-menu" ng-click="$event.stopPropagation();" style="background-color: #DBDBDB; padding: 10px 15px; border: 1px solid #0b3a75;">
                            <li class="checkbox pad-b-10">
                                <input id="value1" name="check" value="value1" type="checkbox">
                                <label for="value1">KPI Value 1</label>
                            </li>
                            <li class="checkbox pad-b-10">
                                <input id="value2" name="check" value="value2" type="checkbox">
                                <label for="value2">KPI Value 2</label>
                            </li>
                            <li class="checkbox pad-b-10">
                                <input id="value3" name="check" value="value3" type="checkbox">
                                <label for="value3">KPI Value 3</label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="box-body">
                    The body of the box
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Open Items</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool"><i class="glyphicon glyphicon-option-vertical" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    The body of the box
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Favorite Reports</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool"><i class="glyphicon glyphicon-option-vertical" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    The body of the box
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Event Status</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool"><i class="glyphicon glyphicon-option-vertical" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    The body of the box
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Create Events</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool"><i class="glyphicon glyphicon-option-vertical" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    The body of the box
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Transaction Metrics</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool"><i class="glyphicon glyphicon-option-vertical" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    The body of the box
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Transaction Metrics</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool"><i class="glyphicon glyphicon-option-vertical" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    The body of the box
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Transaction Metrics For TPF User</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool"><i class="glyphicon glyphicon-option-vertical" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    The body of the box
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">KPI Details For TPF User</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool"><i class="glyphicon glyphicon-option-vertical" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    The body of the box
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">User Metric</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool"><i class="glyphicon glyphicon-option-vertical" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    The body of the box
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">KPI Details</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool"><i class="glyphicon glyphicon-option-vertical" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    The body of the box
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Period Closing</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool"><i class="glyphicon glyphicon-option-vertical" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    The body of the box
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Other</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool"><i class="glyphicon glyphicon-option-vertical" aria-hidden="true"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    The body of the box
                </div>
            </div>
        </div>
    </div>
</section>