<section class="content-header">
    <h1>
        Share Holder Confirmation Responses
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        Upload Responses
                    </h4>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-2">
                            <h5>Upload Response Excel Sheet</h5>
                        </div>
                        <div class="col-lg-3 form-group">
                            <div class="input-group">
                                <input id="uploadFile" class="form-control" placeholder="Choose File" disabled="disabled">
                                <div class="input-group-btn">
                                    <div class="fileUpload btn btn-primary">
                                        <span class="displayFlex pad-t-5"><i class="fa fa-upload fa-fw"></i></span>
                                        <input id="uploadBtn" type="file" class="upload" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 form-group">
                            <button type="button" class="btn btn-primary">Load Responses</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <h5 class="pull-left mar-l-15">
                            Showing 1 to 10 of 1234 with 75 pages
                        </h5>
                        <ul class="nav navbar-nav pull-right">
                            <li class="pad-l-15" style="padding-top: 7px;">Showing Records</li>
                            <li class="form-group pad-l-15 mar-r-15">
                                <select class="form-control" id="">
                                                <option value="1">Select</option>
                                                                    <option value="1">10</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                </select>
                            </li>
                            <li class="pad-l-15" style="padding-top: 7px;">Jump To</li>
                            <li class="form-group pad-l-15 mar-r-15">
                                <select class="form-control" id="">
                                                <option value="1">Select</option>
                                                                    <option value="1">10</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                </select>
                            </li>
                            <li><a href="" class="link-black" style="margin: 10px 20px; padding: 0;"><i class="fa fa fa-file-excel-o margin-r-5 text-green"></i> Export in Excel</a></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table height-50 text-center table-hover">
                                    <thead>
                                        <tr>
                                            <th width="25%">As of Date</th>
                                            <th width="25%">Institution Number</th>
                                            <th width="25%">Number of Shares</th>
                                            <th width="25%">Percentage Ownership</th>
                                        </tr>
                                        <tr>
                                            <th style="font-weight: normal;">
                                                <div class='input-group date'>
                                                    <input id="date-picker-ad" placeholder="DD/MM/YYYY" type="text" class="date-picker form-control" />
                                                    <label for="date-picker-ad" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>                                            
                                                        </label>
                                                </div>
                                            </th>
                                            <th style="font-weight: normal;">
                                                <select class="form-control" id="">
                                                    <option value="" selected="">Select</option>                                                      
                                                </select>
                                            </th>
                                            <th>
                                                <input class="form-control" id="" type="text">
                                            </th>
                                            <th> - </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>03/07/2017</td>
                                            <td>45435</td>
                                            <td>875321.00</td>
                                            <td>0.18</td>
                                        </tr>
                                        <tr>
                                            <td>03/07/2017</td>
                                            <td>45435</td>
                                            <td>875321.00</td>
                                            <td>0.18</td>
                                        </tr>
                                        <tr>
                                            <td>03/07/2017</td>
                                            <td>45435</td>
                                            <td>875321.00</td>
                                            <td>0.18</td>
                                        </tr>
                                        <tr>
                                            <td>03/07/2017</td>
                                            <td>45435</td>
                                            <td>875321.00</td>
                                            <td>0.18</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination pull-right charectorSearch">
                                <a href="#"><i class="fa fa-angle-left fa-fw" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-angle-double-left fa-fw" aria-hidden="true"></i></a>
                                <a href="#">1</a>
                                <a class="active" href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <a href="#"><i class="fa fa-angle-double-right fa-fw" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-angle-right fa-fw" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">
                        View Existing Responses
                    </h4>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-2">
                            <h5>As of Date</h5>
                        </div>
                        <div class="col-lg-3 form-group">
                            <div class='input-group date'>
                                <input id="date-picker-ver" placeholder="DD/MM/YYYY" type="text" class="date-picker form-control" />
                                <label for="date-picker-ver" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>                                            
                                </label>
                            </div>
                        </div>

                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3">
                            <button type="button" class="btn btn-primary">Upload</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <ul class="nav navbar-nav pull-right">
                            <li class="pad-l-15" style="padding-top: 7px;">Showing Records</li>
                            <li class="form-group pad-l-15 mar-r-15">
                                <select class="form-control" id="">
                                                    <option value="1">Select</option>
                                                                        <option value="1">10</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                    </select>
                            </li>
                            <li class="pad-l-15" style="padding-top: 7px;">Jump To</li>
                            <li class="form-group pad-l-15 mar-r-15">
                                <select class="form-control" id="">
                                                    <option value="1">Select</option>
                                                                        <option value="1">10</option>
                                                                        <option value="2">2</option>
                                                                        <option value="3">3</option>
                                                                        <option value="4">4</option>
                                                                    </select>
                            </li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table height-50 text-center table-hover">
                                    <thead>
                                        <tr>
                                            <th width="25%">Company Name</th>
                                            <th width="25%">Template Type</th>
                                            <th width="25%">Response Value</th>
                                            <th width="25%">Response Received Date</th>
                                        </tr>
                                        <tr>
                                            <th style="font-weight: normal;">
                                                <select class="form-control" id="">
                                                                <option value="" selected="">Select</option>                                                      
                                                            </select>
                                            </th>
                                            <th style="font-weight: normal;">
                                                <select class="form-control" id="">
                                                        <option value="" selected="">Select</option>                                                      
                                                    </select>
                                            </th>
                                            <th>
                                                <input class="form-control" id="" type="text">
                                            </th>
                                            <th style="font-weight: normal;">
                                                <div class='input-group date'>
                                                    <input id="date-picker-rrd" placeholder="DD/MM/YYYY" type="text" class="date-picker form-control" />
                                                    <label for="date-picker-rrd" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>                                            
                                                                </label>
                                                </div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                        </tr>
                                        <tr>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                        </tr>
                                        <tr>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                        </tr>
                                        <tr>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                            <td> - </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.getElementById("uploadBtn").onchange = function() {
        document.getElementById("uploadFile").value = this.value.substring(12);
    };
</script>