<section class="content-header">
    <h1>
        Options Cost
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-3 form-group box-title pad-t-5">
                            <h4 class="mar-0">
                                Select Options Cost
                            </h4>
                        </div>
                        <div class="col-md-3 form-group pad-t-5">
                            <span class="radio">
                                        <input id="ar" type="radio" value="ai" name="optionsCost" checked="">
                                        <label for="ar">Action Required</label>
                                    </span>
                        </div>
                        <div class="col-md-3 form-group pad-t-5">
                            <span class="radio">
                                        <input id="io" type="radio" value="il" name="optionsCost">
                                        <label for="io">Information Only</label>
                                    </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 form-group">
                            <h5>Quarter Year</h5>
                            <select class="form-control" id="">
                                <option selected="" value="SelectQuarter">Select Quarter</option>
                                <option value="Q1FY2017">Q1FY2017</option>
                                <option value="Q2FY2017">Q2FY2017</option>
                                <option value="Q3FY2017">Q3FY2017</option>
                                <option value="Q4FY2017">Q4FY2017</option>
                            </select>
                        </div>
                        <div class="col-lg-3 form-group">
                            <h5>Status</h5>
                            <select class="form-control" id="">
                                <option selected="" value="SelectOptionCost">Select Option Cost</option>
                                <option value="ALL">ALL</option>
                                <option value="NoActionRequired">No Action Required</option>
                            </select>
                        </div>
                        <div class="col-md-1 form-group">
                            <h5>&nbsp;</h5>
                            <button type="button" class="btn btn-primary btn-block">Search</button>
                        </div>
                        <div class="col-md-1 form-group">
                            <h5>&nbsp;</h5>
                            <button type="button" class="btn btn-primary btn-block">Refresh</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <h5 class="pull-left mar-l-15">
                            Showing 1 to 10 of 1234 with 75 pages
                        </h5>
                        <ul class="nav navbar-nav pull-right">
                            <li class="pad-l-15" style="padding-top: 7px;">Showing Records</li>
                            <li class="form-group pad-l-15 mar-r-15">
                                <select class="form-control" id="">
                                                <option value="1">Select</option>
                                                                    <option value="1">10</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                </select>
                            </li>
                            <li class="pad-l-15" style="padding-top: 7px;">Jump To</li>
                            <li class="form-group pad-l-15 mar-r-15">
                                <select class="form-control" id="">
                                                <option value="1">Select</option>
                                                                    <option value="1">10</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                </select>
                            </li>
                            <li class="pad-5"><a href="" style="padding: 5px 20px 0 0;"><i class="fa fa-file-excel-o text-green" aria-hidden="true"></i> Export to Excel</a></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-4 pad-0">
                                <div class="table-responsive">
                                    <table class="table table-hover height-small">
                                        <thead>
                                            <tr>
                                                <th width="8%"></th>
                                                <th width="23%">Institution Number</th>
                                                <th width="23%">Institution Name</th>
                                                <th width="23%">Project Number</th>
                                                <th width="23%">View</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="bg-gray">
                                                <td>
                                                    <div class="checkbox pad-l-10 pad-t-10">
                                                        <input id="soc1" type="checkbox" name="check" value="">
                                                        <label for="soc1"></label>
                                                    </div>
                                                </td>
                                                <td class="form-group">
                                                    <input class="form-control" id="" type="text">
                                                </td>
                                                <td class="form-group">
                                                    <input class="form-control" id="" type="text">
                                                </td>
                                                <td class="form-group">
                                                    <input class="form-control" id="" type="text">
                                                </td>
                                                <td>&nbsp;</td>
                                            </tr>

                                            <tr class="border-bottom">
                                                <td>
                                                    <div class="checkbox pad-l-10">
                                                        <input id="soc2" type="checkbox" name="check" value="">
                                                        <label for="soc2"></label>
                                                    </div>
                                                </td>
                                                <td class="text-blue">562118</td>
                                                <td>Rubilyousky</td>
                                                <td>562118</td>
                                                <td><a href="" data-toggle="modal" data-target="#myModal">View</a></td>
                                            </tr>
                                            <tr class="border-bottom">
                                                <td>
                                                    <div class="checkbox pad-l-10">
                                                        <input id="soc3" type="checkbox" name="check" value="">
                                                        <label for="soc3"></label>
                                                    </div>
                                                </td>
                                                <td class="text-blue">562118</td>
                                                <td>Rubilyousky</td>
                                                <td>562118</td>
                                                <td><a href="">View</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-8 pad-0 table-scroll">
                                <a class="close-right" href=""><i class="fa fa-times-circle fa-fw fa-lg" aria-hidden="true"></i></a>
                                <a class="text-black arrow-scroll-left" href="" data-target="#multipleEventsAvailableEvents" role="button" data-slide="prev"><i class="fa fa-chevron-left fa-fw fa-lg" aria-hidden="true"></i></a>
                                <a class="text-black arrow-scroll-right" href="" data-target="#multipleEventsAvailableEvents" role="button" data-slide="next"><i class="fa fa-chevron-right fa-fw fa-lg" aria-hidden="true"></i></a>
                                <div id="multipleEventsAvailableEvents" class="carousel slide" data-interval="false">
                                    <div class="carousel-inner">
                                        <!-- item set 1 -->
                                        <div class="table-responsive item active">
                                            <table class="table table-hover height-small">
                                                <thead>
                                                    <tr>
                                                        <th>Tranche Obligation</th>
                                                        <th>Dept/ Devision</th>
                                                        <th>Disbursement Amount USD</th>
                                                        <th>Disbursement Currency</th>
                                                        <th>Local Disbursement Amount</th>
                                                        <th>Value Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="bg-gray">
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <select class="form-control" id="">
                                                                    <option selected="" value="Select">Select</option>
                                                                    <option value="USD">USD</option>
                                                                    <option value="HKD">HKD</option>
                                                            </select>
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td>
                                                            <div class='input-group date'>
                                                                <input id="date-picker-md" placeholder="DD/MM/YYYY" type="text" class="date-picker form-control" />
                                                                <label for="date-picker-md" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>                                            
                                                </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr class="border-bottom">
                                                        <td>0-562118</td>
                                                        <td>CMGM4</td>
                                                        <td>5,000,000.00</td>
                                                        <td>USD</td>
                                                        <td>5,000,000.00</td>
                                                        <td>4/15/2016</td>
                                                    </tr>
                                                    <tr class="border-bottom">
                                                        <td>0-562118</td>
                                                        <td>CMGM4</td>
                                                        <td>5,000,000.00</td>
                                                        <td>USD</td>
                                                        <td>5,000,000.00</td>
                                                        <td>4/15/2016</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /item set 1 -->
                                        <!-- item set 2 -->
                                        <div class="table-responsive item">
                                            <table class="table table-hover height-small">
                                                <thead>
                                                    <tr>
                                                        <th>Tranche Obligation</th>
                                                        <th>Dept/ Devision</th>
                                                        <th>Disbursement Amount USD</th>
                                                        <th>Disbursement Currency</th>
                                                        <th>Local Disbursement Amount</th>
                                                        <th>Value Date</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="bg-gray">
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <select class="form-control" id="">
                                                                            <option selected="" value="Select">Select</option>
                                                                            <option value="USD">USD</option>
                                                                            <option value="HKD">HKD</option>
                                                                    </select>
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td>
                                                            <div class='input-group date'>
                                                                <input id="date-picker-me" placeholder="DD/MM/YYYY" type="text" class="date-picker form-control" />
                                                                <label for="date-picker-me" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>                                            
                                                        </label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>0-562118</td>
                                                        <td>CMGM4</td>
                                                        <td>5,000,000.00</td>
                                                        <td>USD</td>
                                                        <td>5,000,000.00</td>
                                                        <td>4/15/2016</td>
                                                    </tr>
                                                    <tr>
                                                        <td>0-562118</td>
                                                        <td>CMGM4</td>
                                                        <td>5,000,000.00</td>
                                                        <td>USD</td>
                                                        <td>5,000,000.00</td>
                                                        <td>4/15/2016</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <!-- /item set 2 -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination pull-right charectorSearch">
                                <a href="#"><i class="fa fa-angle-left fa-fw" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-angle-double-left fa-fw" aria-hidden="true"></i></a>
                                <a href="#">1</a>
                                <a class="active" href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <a href="#"><i class="fa fa-angle-double-right fa-fw" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-angle-right fa-fw" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Input Option Cost</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <legend>Project Details</legend>
                    <div class="row">
                        <div class="col-lg-4 form-group">
                            <div class="col-xs-7"><strong>Institution No</strong></div>
                            <div class="col-xs-5">29717</div>
                        </div>
                        <div class="col-lg-4 form-group">
                            <div class="col-xs-7"><strong>Institution</strong></div>
                            <div class="col-xs-5">ABC Coffee</div>
                        </div>
                        <div class="col-lg-4 form-group">
                            <div class="col-xs-7"><strong>Project No</strong></div>
                            <div class="col-xs-5">562118</div>
                        </div>
                        <div class="col-lg-4 form-group">
                            <div class="col-xs-7"><strong>Tranche Obilgation</strong></div>
                            <div class="col-xs-5">0-562118</div>
                        </div>
                        <div class="col-lg-4 form-group">
                            <div class="col-xs-7"><strong>Dept/Division</strong></div>
                            <div class="col-xs-5">CMGM4</div>
                        </div>
                        <div class="col-lg-4 form-group">
                            <div class="col-xs-7"><strong>Dis. Currency</strong></div>
                            <div class="col-xs-5">USD</div>
                        </div>
                        <div class="col-lg-4 form-group">
                            <div class="col-xs-7"><strong>Value Date</strong></div>
                            <div class="col-xs-5">25 Aug 2017</div>
                        </div>
                        <div class="col-lg-4 form-group">
                            <div class="col-xs-7"><strong>Posted Date</strong></div>
                            <div class="col-xs-5">25 Aug 2017</div>
                        </div>
                        <div class="col-lg-4 form-group">
                            <div class="col-xs-7"><strong>Status</strong></div>
                            <div class="col-xs-5">New</div>
                        </div>
                        <div class="col-lg-4 form-group">
                            <div class="col-xs-7"><strong>Changed By</strong></div>
                            <div class="col-xs-5">System</div>
                        </div>
                        <div class="col-lg-4 form-group">
                            <div class="col-xs-7"><strong>Changed Date</strong></div>
                            <div class="col-xs-5">26 Aug 2017</div>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-lg-3 form-group">
                        <h5>Host Tranche</h5>
                        <input type="text" class="form-control text-right" id="" value="31922-0">
                    </div>
                    <div class="col-lg-3 form-group">
                        <h5>Disbursement Amount (USD)</h5>
                        <input type="text" class="form-control text-right" id="" value="60,808.56">
                    </div>
                    <div class="col-lg-3 form-group">
                        <h5>Disbursement Date</h5>
                        <div class='input-group date' style="z-index: 999999;">
                            <input id="date-picker-dd" placeholder="DD/MM/YYYY" type="text" class="date-picker form-control" />
                            <label for="date-picker-dd" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>                                            
        </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-hover mar-0 height-50">
                                <thead>
                                    <tr>
                                        <th>Option Tranche</th>
                                        <th>Option ID</th>
                                        <th>Accting Conclusion</th>
                                        <th>Accting Indicator</th>
                                        <th>Option Type Code</th>
                                        <th>FV Option (USD)</th>
                                        <th>Total FV Option(USD)</th>
                                        <th>Initial FV FV Option (USD)</th>
                                        <th>ASL Balance USD</th>
                                        <th>Option Cost USD</th>
                                        <th>Option Cost Local USD</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="border-bottom">
                                        <td>150</td>
                                        <td>562118</td>
                                        <td>Derivative</td>
                                        <td>Equity-Cost</td>
                                        <td>STO</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>
                                            <input type="text" class="form-control text-right" id="" value="60,808.56">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control text-right" id="" value="60,808.56">
                                        </td>
                                    </tr>
                                    <tr class="border-bottom">
                                        <td>150</td>
                                        <td>562118</td>
                                        <td>Derivative</td>
                                        <td>Equity-Cost</td>
                                        <td>STO</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>0.00</td>
                                        <td>
                                            <input type="text" class="form-control text-right" id="" value="60,808.56">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control text-right" id="" value="60,808.56">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button type="button" class="btn btn-link link">Approve</button>
                        <button type="button" class="btn btn-link link">Edit</button>
                        <button type="button" class="btn btn-link link">Cancel</button>
                        <button type="button" class="btn btn-primary">Submit</button>

                    </div>
                </div>
            </div>
        </div>

    </div>
</div>