<section class="content-header">
    <h1>
        Period Closing
    </h1>
</section>


<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    <fieldset>
                        <div class="pad-15">
                            <div class="row">
                                <div class="col-sm-1 pad-r-0 form-group">
                                    <h4>Legal Entity</h4>
                                </div>

                                <div class="col-sm-4 form-group">
                                    <select class="form-control" id="">
                                            <option selected="" value="SelectLegalEntity">Select Legal Entity</option>
                                            <option value="IFCSpecialLedger">IFC Special Ledger</option>
                                            <option value="IFC">IFC</option>
                                </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-3 form-group">
                                    <h5>Previous Close Period</h5>
                                    <h4>1 Jun 2017 - 31 Jun 2017</h4>
                                </div>
                                <div class="col-md-3 form-group">
                                    <h5>Closed On</h5>
                                    <h4>1 Jun 2017 : 12:30:45 PM</h4>
                                </div>
                                <div class="col-md-3 form-group">
                                    <h5>Current Open Date</h5>
                                    <h4>1 Jul 2017 - 31 Jul 2017</h4>
                                </div>
                                <div class="col-md-3 form-group">
                                    <h5>Closed By</h5>
                                    <h4>WB\5431485</h4>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <button type="button" class="btn btn-primary mar-r-15">Soft Close</button>
                                    <button type="button" class="btn btn-default">Hard Close</button>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="pad-15">
                            <h4>Closure Details</h4>
                            <div class="row">
                                <div class="col-md-2">
                                    <h5>Start Date</h5>
                                    <h4>1 Jun 2017</h4>
                                </div>
                                <div class="col-md-2">
                                    <h5>End Date</h5>
                                    <h4>31 Jun 2017</h4>
                                </div>
                                <div class="col-md-3">
                                    <h5>Closure Date</h5>
                                    <h4>1 Aug 2017 : 12:30:45 PM</h4>
                                </div>
                                <div class="col-md-2">
                                    <h5>Closed By</h5>
                                    <h4>WB\5431485</h4>
                                </div>
                                <div class="col-md-2">
                                    <h5>Closing Type</h5>
                                    <h4>Soft Close</h4>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <h4 class="pad-b-10">System Status for 1 Jul 2017 - 31 Jul 2017</h4>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-striped table-hover mar-0">
                                    <thead>
                                        <tr>
                                            <th class="pad-l-30" width="50%">
                                                <h4>System</h4>
                                            </th>
                                            <th width="50%">
                                                <h4>Status</h4>
                                            </th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td class="pad-l-30">DCR Final File</td>
                                            <td><i class="btn btn-bem icn-close"></i> Closed</td>
                                        </tr>
                                        <tr>
                                            <td class="pad-l-30">Accounting Indicator Final Flag</td>
                                            <td><i class="btn btn-bem icn-close"></i> Closed</td>
                                        </tr>
                                        <tr>
                                            <td class="pad-l-30">Investran Equity Closed</td>
                                            <td><i class="btn btn-bem icn-tick"></i> Open</td>
                                        </tr>
                                        <tr>
                                            <td class="pad-l-30">ACBS Closed</td>
                                            <td><i class="btn btn-bem icn-tick"></i> Open</td>

                                        </tr>
                                        <tr>
                                            <td class="pad-l-30">Process All Pending Events</td>
                                            <td><i class="btn btn-bem icn-close"></i> Closed</td>
                                        </tr>
                                        <tr>
                                            <td class="pad-l-30">Option Cost Ticket Processed</td>
                                            <td><i class="btn btn-bem icn-close"></i> Closed</td>
                                        </tr>
                                        <tr>
                                            <td class="pad-l-30">Final Valuation Approved</td>
                                            <td><i class="btn btn-bem icn-close"></i> Closed</td>
                                        </tr>
                                        <tr>
                                            <td class="pad-l-30">Pending Host Reclass Event Checked</td>
                                            <td><i class="btn btn-bem icn-tick"></i> Open</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>