<section class="content-header">
    <h1>
        Preferences
    </h1>
</section>

<div class="col-lg-12 mar-t-10">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs mar-0">
            <li class="active"><a data-toggle="tab" href="#geds">Global / Event Details Settings</a></li>
            <li><a data-toggle="tab" href="#als">Audit / Logging Settings</a></li>
        </ul>

        <div class="tab-content border-gray">
            <div id="geds" class="tab-pane fade in active pad-t-b-15">
                <p class="font-20">Global Settings</p>
                <div class="row">
                    <div class="col-lg-2 form-group">
                        <h5>Default Legal Entity</h5>
                    </div>
                    <div class="col-lg-3 form-group">
                        <select class="form-control bemCustom" id="sel1">
                                <option>Select</option>
                                <option>Select</option>                                                        
                            </select>
                    </div>
                    <div class="col-lg-2 form-group"></div>
                    <div class="col-lg-2 form-group">
                        <h5>Default Currency</h5>
                    </div>
                    <div class="col-lg-3 form-group">
                        <select class="form-control bemCustom" id="">
                                <option>USA, US Dollar</option>
                                <option>SGD dollar</option>
                                <option>Indian rupee</option>
                            </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 form-group">
                        <h5>Color Theme</h5>
                    </div>
                    <div class="col-lg-3 color-theme form-group">
                        <a href="" class="colors" style="background-color: #1756a5;"></a>
                        <a href="" class="colors" style="background-color: #404040;"></a>
                        <a href="" class="colors" style="background-color: #F05023;"></a>
                        <a href="" class="colors" style="background-color: #F78D28;"></a>
                    </div>
                    <div class="col-lg-2 form-group"></div>
                    <div class="col-lg-2 form-group">
                        <h5>Primary Navigation</h5>
                    </div>
                    <div class="col-lg-3 form-group">
                        <label class="bemSwitch">
                            <input type="checkbox" checked>
                            <span class="bemSlider"></span>
                        </label>
                    </div>
                    <div class="col-lg-2 form-group">
                        <h5>Default Home Page Settings</h5>
                    </div>
                    <div class="col-lg-3 form-group">
                        <label class="bemSwitch">
                                <input type="checkbox" checked>
                                <span class="bemSlider"></span>
                            </label>
                    </div>
                </div>
                <hr />
                <p class="font-20">Event Details Settings</p>

                <div class="row">
                    <div class="col-lg-6 pad-t-b-15">
                        <h4>Columns</h4>
                        <div class="row">
                            <div class="col-lg-12 checkbox">
                                <h5>
                                    <input id="check1" type="checkbox" name="check" value="">
                                    <label for="check1">Select All</label>
                                </h5>
                            </div>
                            <div class="col-lg-4 checkbox">
                                <h5>
                                    <input id="check11" type="checkbox" name="check" value="">
                                    <label for="check11">Auto Settlement</label>
                                </h5>
                                <h5>
                                    <input id="check12" type="checkbox" name="check" value="">
                                    <label for="check12">Exported</label>
                                </h5>
                                <h5>
                                    <input id="check13" type="checkbox" name="check" value="">
                                    <label for="check13">Trade Batch</label>
                                </h5>
                            </div>
                            <div class="col-lg-4 checkbox">
                                <h5>
                                    <input id="check21" type="checkbox" name="check" value="">
                                    <label for="check21">Settlement Batch</label>
                                </h5>
                                <h5>
                                    <input id="check22" type="checkbox" name="check" value="">
                                    <label for="check22">Changed By</label>
                                </h5>
                                <h5>
                                    <input id="check23" type="checkbox" name="check" value="">
                                    <label for="check23">Settlement Type</label>
                                </h5>
                            </div>
                            <div class="col-lg-4 checkbox">
                                <h5>
                                    <input id="check31" type="checkbox" name="check" value="">
                                    <label for="check31">Workflow Number</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check33" type="checkbox" name="check" value="">
                                    <label for="check33">Voucher Number</label>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pad-t-b-15">
                        <h4>Default Order by Column</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-12 select-fields">
                                    <h5>
                                        Auto settlement
                                        <span class="pull-right">
                                            <a class="fa fa-long-arrow-down fa-fw text-black" href=""></a>
                                            <a class="fa fa-long-arrow-up fa-fw disabled" href=""></a>
                                        </span>
                                    </h5>
                                    <h5>
                                        Settlement Batch
                                        <span class="pull-right">
                                            <a class="fa fa-long-arrow-down fa-fw text-black" href=""></a>
                                            <a class="fa fa-long-arrow-up fa-fw text-black" href=""></a>
                                        </span>
                                    </h5>
                                    <h5>
                                        Settlement Batch
                                        <span class="pull-right">
                                            <a class="fa fa-long-arrow-down fa-fw text-black" href=""></a>
                                            <a class="fa fa-long-arrow-up fa-fw disabled" href=""></a>
                                        </span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-lg-6 pad-t-b-15">
                        <h4>System</h4>
                        <div class="row">
                            <div class="col-lg-4 checkbox">
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                            </div>
                            <div class="col-lg-4 checkbox">
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                            </div>
                            <div class="col-lg-4 checkbox">
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pad-t-b-15">
                        <h4>Event Deyails Status</h4>
                        <div class="row">
                            <div class="col-lg-4 checkbox">
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                            </div>
                            <div class="col-lg-4 checkbox">
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                            </div>
                            <div class="col-lg-4 checkbox">
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <p class="font-20">Dashboard Settings</p>

                <div class="row">
                    <div class="col-lg-6 pad-t-b-15">
                        <h4>Columns</h4>
                        <div class="row">
                            <div class="col-lg-12 checkbox">
                                <h5>
                                    <input id="check1" type="checkbox" name="check" value="">
                                    <label for="check1">Select All</label>
                                </h5>
                            </div>
                            <div class="col-lg-4 checkbox">
                                <h5>
                                    <input id="check11" type="checkbox" name="check" value="">
                                    <label for="check11">Auto Settlement</label>
                                </h5>
                                <h5>
                                    <input id="check12" type="checkbox" name="check" value="">
                                    <label for="check12">Exported</label>
                                </h5>
                                <h5>
                                    <input id="check13" type="checkbox" name="check" value="">
                                    <label for="check13">Trade Batch</label>
                                </h5>
                            </div>
                            <div class="col-lg-4 checkbox">
                                <h5>
                                    <input id="check21" type="checkbox" name="check" value="">
                                    <label for="check21">Settlement Batch</label>
                                </h5>
                                <h5>
                                    <input id="check22" type="checkbox" name="check" value="">
                                    <label for="check22">Changed By</label>
                                </h5>
                                <h5>
                                    <input id="check23" type="checkbox" name="check" value="">
                                    <label for="check23">Settlement Type</label>
                                </h5>
                            </div>
                            <div class="col-lg-4 checkbox">
                                <h5>
                                    <input id="check31" type="checkbox" name="check" value="">
                                    <label for="check31">Workflow Number</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check33" type="checkbox" name="check" value="">
                                    <label for="check33">Voucher Number</label>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pad-t-b-15">
                        <h4>Default Order by Column</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-12 select-fields">
                                    <h5>
                                        Auto settlement
                                        <span class="pull-right">
                                            <a class="fa fa-long-arrow-down fa-fw text-black" href=""></a>
                                            <a class="fa fa-long-arrow-up fa-fw disabled" href=""></a>
                                        </span>
                                    </h5>
                                    <h5>
                                        Settlement Batch
                                        <span class="pull-right">
                                            <a class="fa fa-long-arrow-down fa-fw text-black" href=""></a>
                                            <a class="fa fa-long-arrow-up fa-fw text-black" href=""></a>
                                        </span>
                                    </h5>
                                    <h5>
                                        Settlement Batch
                                        <span class="pull-right">
                                            <a class="fa fa-long-arrow-down fa-fw text-black" href=""></a>
                                            <a class="fa fa-long-arrow-up fa-fw disabled" href=""></a>
                                        </span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button type="button" class="btn btn-link link">Cancel</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
            <div id="als" class="tab-pane fade pad-t-b-15">
                <p class="font-20">Audit Settings</p>

                <div class="row">
                    <div class="col-lg-6 pad-t-b-15">
                        <h4>Columns</h4>
                        <div class="row">
                            <div class="col-lg-12 checkbox">
                                <h5>
                                    <input id="check1" type="checkbox" name="check" value="">
                                    <label for="check1">Select All</label>
                                </h5>
                            </div>
                            <div class="col-lg-4 checkbox">
                                <h5>
                                    <input id="check11" type="checkbox" name="check" value="">
                                    <label for="check11">Auto Settlement</label>
                                </h5>
                                <h5>
                                    <input id="check12" type="checkbox" name="check" value="">
                                    <label for="check12">Exported</label>
                                </h5>
                                <h5>
                                    <input id="check13" type="checkbox" name="check" value="">
                                    <label for="check13">Trade Batch</label>
                                </h5>
                            </div>
                            <div class="col-lg-4 checkbox">
                                <h5>
                                    <input id="check21" type="checkbox" name="check" value="">
                                    <label for="check21">Settlement Batch</label>
                                </h5>
                                <h5>
                                    <input id="check22" type="checkbox" name="check" value="">
                                    <label for="check22">Changed By</label>
                                </h5>
                                <h5>
                                    <input id="check23" type="checkbox" name="check" value="">
                                    <label for="check23">Settlement Type</label>
                                </h5>
                            </div>
                            <div class="col-lg-4 checkbox">
                                <h5>
                                    <input id="check31" type="checkbox" name="check" value="">
                                    <label for="check31">Workflow Number</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check33" type="checkbox" name="check" value="">
                                    <label for="check33">Voucher Number</label>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pad-t-b-15">
                        <h4>Default Order by Column</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-12 select-fields">
                                    <h5>
                                        Auto settlement
                                        <span class="pull-right">
                                                <a class="fa fa-long-arrow-down fa-fw text-black" href=""></a>
                                                <a class="fa fa-long-arrow-up fa-fw disabled" href=""></a>
                                            </span>
                                    </h5>
                                    <h5>
                                        Settlement Batch
                                        <span class="pull-right">
                                                <a class="fa fa-long-arrow-down fa-fw text-black" href=""></a>
                                                <a class="fa fa-long-arrow-up fa-fw text-black" href=""></a>
                                            </span>
                                    </h5>
                                    <h5>
                                        Settlement Batch
                                        <span class="pull-right">
                                                <a class="fa fa-long-arrow-down fa-fw text-black" href=""></a>
                                                <a class="fa fa-long-arrow-up fa-fw disabled" href=""></a>
                                            </span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <p class="font-20">Logging Settings</p>

                <div class="row">
                    <div class="col-lg-6 pad-t-b-15">
                        <h4>Columns</h4>
                        <div class="row">
                            <div class="col-lg-12 checkbox">
                                <h5>
                                    <input id="check1" type="checkbox" name="check" value="">
                                    <label for="check1">Select All</label>
                                </h5>
                            </div>
                            <div class="col-lg-4 checkbox">
                                <h5>
                                    <input id="check11" type="checkbox" name="check" value="">
                                    <label for="check11">Auto Settlement</label>
                                </h5>
                                <h5>
                                    <input id="check12" type="checkbox" name="check" value="">
                                    <label for="check12">Exported</label>
                                </h5>
                                <h5>
                                    <input id="check13" type="checkbox" name="check" value="">
                                    <label for="check13">Trade Batch</label>
                                </h5>
                            </div>
                            <div class="col-lg-4 checkbox">
                                <h5>
                                    <input id="check21" type="checkbox" name="check" value="">
                                    <label for="check21">Settlement Batch</label>
                                </h5>
                                <h5>
                                    <input id="check22" type="checkbox" name="check" value="">
                                    <label for="check22">Changed By</label>
                                </h5>
                                <h5>
                                    <input id="check23" type="checkbox" name="check" value="">
                                    <label for="check23">Settlement Type</label>
                                </h5>
                            </div>
                            <div class="col-lg-4 checkbox">
                                <h5>
                                    <input id="check31" type="checkbox" name="check" value="">
                                    <label for="check31">Workflow Number</label>
                                </h5>
                                <h5>
                                    <input id="check32" type="checkbox" name="check" value="">
                                    <label for="check32">Institution</label>
                                </h5>
                                <h5>
                                    <input id="check33" type="checkbox" name="check" value="">
                                    <label for="check33">Voucher Number</label>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 pad-t-b-15">
                        <h4>Default Order by Column</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-12 select-fields">
                                    <h5>
                                        Auto settlement
                                        <span class="pull-right">
                                                <a class="fa fa-long-arrow-down fa-fw text-black" href=""></a>
                                                <a class="fa fa-long-arrow-up fa-fw disabled" href=""></a>
                                            </span>
                                    </h5>
                                    <h5>
                                        Settlement Batch
                                        <span class="pull-right">
                                                <a class="fa fa-long-arrow-down fa-fw text-black" href=""></a>
                                                <a class="fa fa-long-arrow-up fa-fw text-black" href=""></a>
                                            </span>
                                    </h5>
                                    <h5>
                                        Settlement Batch
                                        <span class="pull-right">
                                                <a class="fa fa-long-arrow-down fa-fw text-black" href=""></a>
                                                <a class="fa fa-long-arrow-up fa-fw disabled" href=""></a>
                                            </span>
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 text-right">
                        <button type="button" class="btn btn-link link">Cancel</button>
                        <button type="button" class="btn btn-primary">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>