<section class="content-header">
    <h1>
        PV Comments
    </h1>
    <ol class="breadcrumb">
        <li><a class="text-blue" href="#"><i class="fa fa-university"></i> Update Loan Options Comments</a></li>
    </ol>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <h5 class="pull-left mar-l-15">
                            Showing 1 to 10 of 1234 with 75 pages
                        </h5>
                        <ul class="nav navbar-nav pull-right">
                            <li class="mar-t-7">
                                <a class="pad-0 pad-t-b-0" href=""><i class="glyphicon glyphicon-refresh fa-fw"></i> Refresh</a>
                            </li>
                            <li class="pad-l-15 mar-t-7">Showing Records</li>
                            <li class="form-group pad-l-15 mar-r-15">
                                <select class="form-control" id="">
                                                <option value="1">Select</option>
                                                                    <option value="1">10</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                </select>
                            </li>
                            <li class="pad-l-15 mar-t-7">Jump To</li>
                            <li class="form-group pad-l-15 mar-r-15">
                                <select class="form-control" id="">
                                                <option value="1">Select</option>
                                                                    <option value="1">10</option>
                                                                    <option value="2">2</option>
                                                                    <option value="3">3</option>
                                                                    <option value="4">4</option>
                                                                </select>
                            </li>
                            <li class="pad-5"><a href="" style="padding: 5px 20px 0 0;"><i class="fa fa-file-excel-o text-green" aria-hidden="true"></i> Export to Excel</a></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-4 pad-0">
                                <div class="table-responsive">
                                    <table class="table table-striped scroll-table-height">
                                        <thead>
                                            <tr>
                                                <th width="25%">Institution Number</th>
                                                <th width="25%">Institution Name</th>
                                                <th width="25%">Project Number</th>
                                                <th width="25%">Project Name</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="border-down">
                                                <td class="form-group">
                                                    <input class="form-control" id="" type="text">
                                                </td>
                                                <td class="form-group">
                                                    <input class="form-control" id="" type="text">
                                                </td>
                                                <td class="form-group">
                                                    <input class="form-control" id="" type="text">
                                                </td>
                                                <td class="form-group">
                                                    <input class="form-control" id="" type="text">
                                                </td>
                                            </tr>

                                            <tr>
                                                <td>
                                                    <a href="" data-toggle="modal" data-target="#pvComments">562118</a>
                                                </td>
                                                <td>Rubilyousky</td>
                                                <td>562118</td>
                                                <td>0-562118</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="">562118</a>
                                                </td>
                                                <td>Rubilyousky</td>
                                                <td>562118</td>
                                                <td>0-562118</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href="">562118</a>
                                                </td>
                                                <td>Rubilyousky</td>
                                                <td>562118</td>
                                                <td>0-562118</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div class="col-lg-8 pad-0 table-responsiive" style="margin-left: -1px;">
                                <div id="eventDetailsTable" class="carousel slide" data-ride="carousel" data-interval="false">
                                    <div class="carousel-inner" role="listbox">
                                        <div class="item active">
                                            <table class="table table-striped scroll-table-height">
                                                <thead>
                                                    <tr>
                                                        <th>Option Tranche</th>
                                                        <th>Host</th>
                                                        <th>Tranche Effective Date</th>
                                                        <th>Disbursement Currency</th>
                                                        <th>Dept Div</th>
                                                        <th>Option ID</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="border-down">
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>CMGM4</td>
                                                        <td>CMGM4</td>
                                                        <td>5,000,000.00</td>
                                                        <td>USD</td>
                                                        <td>5,000,000.00</td>
                                                        <td>4/15/2016</td>
                                                    </tr>
                                                    <tr>
                                                        <td>CMGM4</td>
                                                        <td>CMGM4</td>
                                                        <td>5,000,000.00</td>
                                                        <td>USD</td>
                                                        <td>5,000,000.00</td>
                                                        <td>4/15/2016</td>
                                                    </tr>
                                                    <tr>
                                                        <td>CMGM4</td>
                                                        <td>CMGM4</td>
                                                        <td>5,000,000.00</td>
                                                        <td>USD</td>
                                                        <td>5,000,000.00</td>
                                                        <td>4/15/2016</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item">
                                            <table class="table table-striped scroll-table-height">
                                                <thead>
                                                    <tr>
                                                        <th>Option Tranche</th>
                                                        <th>Host</th>
                                                        <th>Tranche Effective Date</th>
                                                        <th>Disbursement Currency</th>
                                                        <th>Dept Div</th>
                                                        <th>Option ID</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="border-down">
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>CMGM4</td>
                                                        <td>CMGM4</td>
                                                        <td>5,000,000.00</td>
                                                        <td>USD</td>
                                                        <td>5,000,000.00</td>
                                                        <td>4/15/2016</td>
                                                    </tr>
                                                    <tr>
                                                        <td>CMGM4</td>
                                                        <td>CMGM4</td>
                                                        <td>5,000,000.00</td>
                                                        <td>USD</td>
                                                        <td>5,000,000.00</td>
                                                        <td>4/15/2016</td>
                                                    </tr>
                                                    <tr>
                                                        <td>CMGM4</td>
                                                        <td>CMGM4</td>
                                                        <td>5,000,000.00</td>
                                                        <td>USD</td>
                                                        <td>5,000,000.00</td>
                                                        <td>4/15/2016</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="item">
                                            <table class="table table-striped scroll-table-height">
                                                <thead>
                                                    <tr>
                                                        <th>Option Tranche</th>
                                                        <th>Host</th>
                                                        <th>Tranche Effective Date</th>
                                                        <th>Disbursement Currency</th>
                                                        <th>Dept Div</th>
                                                        <th>Option ID</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr class="border-down">
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                        <td class="form-group">
                                                            <input class="form-control" id="" type="text">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>CMGM4</td>
                                                        <td>CMGM4</td>
                                                        <td>5,000,000.00</td>
                                                        <td>USD</td>
                                                        <td>5,000,000.00</td>
                                                        <td>4/15/2016</td>
                                                    </tr>
                                                    <tr>
                                                        <td>CMGM4</td>
                                                        <td>CMGM4</td>
                                                        <td>5,000,000.00</td>
                                                        <td>USD</td>
                                                        <td>5,000,000.00</td>
                                                        <td>4/15/2016</td>
                                                    </tr>
                                                    <tr>
                                                        <td>CMGM4</td>
                                                        <td>CMGM4</td>
                                                        <td>5,000,000.00</td>
                                                        <td>USD</td>
                                                        <td>5,000,000.00</td>
                                                        <td>4/15/2016</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <a class="table-control arrow-scroll-left" href="" data-target="#eventDetailsTable" role="button" data-slide="prev">
                                        <i class="fa fa-chevron-left fa-fw fa-lg" aria-hidden="true"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                    <a class="table-control arrow-scroll-right" href="" data-target="#eventDetailsTable" role="button" data-slide="next">
                                        <i class="fa fa-chevron-right fa-fw fa-lg" aria-hidden="true"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination pull-right charectorSearch">
                                <a href="#"><i class="fa fa-angle-left fa-fw" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-angle-double-left fa-fw" aria-hidden="true"></i></a>
                                <a href="#">1</a>
                                <a class="active" href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <a href="#"><i class="fa fa-angle-double-right fa-fw" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-angle-right fa-fw" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div id="pvComments" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">PV Comments - Project ID: 29717</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <legend>Project Details</legend>
                    <div class="row">
                        <div class="col-lg-4 form-group">
                            <div class="col-xs-7"><strong>Project Name</strong></div>
                            <div class="col-xs-5">7 Energy</div>
                        </div>
                        <div class="col-lg-4 form-group">
                            <div class="col-xs-7"><strong>Option Tranche No.</strong></div>
                            <div class="col-xs-5">100</div>
                        </div>
                        <div class="col-lg-4 form-group">
                            <div class="col-xs-7"><strong>Option Type</strong></div>
                            <div class="col-xs-5">PUT</div>
                        </div>
                        <div class="col-lg-4 form-group">
                            <div class="col-xs-7"><strong>Option ID</strong></div>
                            <div class="col-xs-5"> - </div>
                        </div>
                        <div class="col-lg-4 form-group">
                            <div class="col-xs-7"><strong>Section Ref</strong></div>
                            <div class="col-xs-5">Section 5.3 of the Loan Agreement - Mandatory Repayment</div>
                        </div>
                        <div class="col-lg-4 form-group">
                            <div class="col-xs-7"><strong>Actiom Items</strong></div>
                            <div class="col-xs-5"> - </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-2 form-group">
                                <strong>PV Comments</strong>
                            </div>
                            <div class="col-lg-8 form-group">
                                <textarea class="form-control" rows="3" id="comment"></textarea>
                            </div>
                            <div class="col-lg-2 form-group">
                                <button type="button" class="btn btn-primary pull-right">Update</button>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-12 line-header">
                            <span>History</span>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table table-fixed table-striped">
                                <thead>
                                    <tr>
                                        <th class="col-xs-2">Effective Date</th>
                                        <th class="col-xs-4">Comments</th>
                                        <th class="col-xs-3">Time Stamp</th>
                                        <th class="col-xs-3">Updated By</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="col-xs-2">25 Aug 2017</td>
                                        <td class="col-xs-4">Loan related, Value expected to be minimum</td>
                                        <td class="col-xs-3">25 Aug 2017 1:35PM</td>
                                        <td class="col-xs-3">IFC\Atanasova</td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-2">25 Aug 2017</td>
                                        <td class="col-xs-4">Loan related, Value expected to be minimum</td>
                                        <td class="col-xs-3">25 Aug 2017 1:35PM</td>
                                        <td class="col-xs-3">IFC\Atanasova</td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-2">25 Aug 2017</td>
                                        <td class="col-xs-4">Loan related, Value expected to be minimum</td>
                                        <td class="col-xs-3">25 Aug 2017 1:35PM</td>
                                        <td class="col-xs-3">IFC\Atanasova</td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-2">25 Aug 2017</td>
                                        <td class="col-xs-4">Loan related, Value expected to be minimum</td>
                                        <td class="col-xs-3">25 Aug 2017 1:35PM</td>
                                        <td class="col-xs-3">IFC\Atanasova</td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-2">25 Aug 2017</td>
                                        <td class="col-xs-4">Loan related, Value expected to be minimum</td>
                                        <td class="col-xs-3">25 Aug 2017 1:35PM</td>
                                        <td class="col-xs-3">IFC\Atanasova</td>
                                    </tr>
                                    <tr>
                                        <td class="col-xs-2">25 Aug 2017</td>
                                        <td class="col-xs-4">Loan related, Value expected to be minimum</td>
                                        <td class="col-xs-3">25 Aug 2017 1:35PM</td>
                                        <td class="col-xs-3">IFC\Atanasova</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $('#eventDetailsTable').on('slid.bs.carousel', checkitem);

    function checkitem() // check function
    {
        var $this = $('#eventDetailsTable');
        if ($('.carousel-inner .item:first').hasClass('active')) {
            $this.children('.arrow-scroll-left.table-control').hide();
        } else if ($('.carousel-inner .item:last').hasClass('active')) {
            $this.children('.arrow-scroll-right.table-control').hide();
        } else {
            $this.children('.table-control').show();

        }
    }
</script>