<section class="content-header">
    <h1>
        Share Holder Confirmation - Confirmation Reports
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-3 form-group">
                            <h5>Reports</h5>
                            <select class="form-control" id="">
                                <option value="" selected="">Select</option>
                                <option value="ProjectwithNoInformation">Project with No Information</option>
                                <option value="ConfirmationStatusReport">Confirmation Status Report</option>
                                <option value="ProjectVarianceReport">Project Variance Report</option>
                            </select>
                        </div>
                        <div class="col-lg-3 form-group">
                            <h5>As of Date</h5>
                            <div class='input-group date'>
                                <input id="date-picker-ad" placeholder="DD/MM/YYYY" type="text" class="date-picker form-control" />
                                <label for="date-picker-ad" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>                                            
            </label>
                            </div>
                        </div>
                        <div class="col-lg-3 form-group">
                            <h5>Custodian</h5>
                            <select class="form-control" id="">
                                <option value="All" selected="">All</option>
                                <option value="Citibank Global">Citibank Global</option>
                                <option value="IFC">IFC</option>
                                <option value="SSB">SSB</option>
                                <option value="Others">Others</option>
                                <option value="Ownership">Ownership</option>
                            </select>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3  form-group">
                            <h5>&nbsp;</h5>
                            <button type="button" class="btn btn-primary">Show Report</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <h5 class="pull-left mar-l-15">
                            Showing 1 to 10 of 1234 with 75 pages
                        </h5>
                        <ul class="nav navbar-nav pull-right">
                            <li class="pad-l-15" style="padding-top: 7px;">Showing Records</li>
                            <li class="form-group pad-l-15 mar-r-15">
                                <select class="form-control" id="">
                                    <option value="1">Select</option>
                                    <option value="1">10</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </li>
                            <li class="pad-l-15" style="padding-top: 7px;">Jump To</li>
                            <li class="form-group pad-l-15 mar-r-15">
                                <select class="form-control" id="">
                                    <option value="1">Select</option>
                                    <option value="1">10</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </li>
                            <li><a href="" class="link-black" style="margin: 10px 20px; padding: 0;"><i class="fa fa fa-file-excel-o margin-r-5 text-green"></i> Export in Excel</a></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table height-50 table-hover">
                                    <thead>
                                        <tr>
                                            <th width="50%" style="padding-left: 30px;">Institution ID</th>
                                            <th width="50%">Company Legal Name</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="border-bottom">
                                            <td style="padding-left: 30px;">20001</td>
                                            <td>500 LUCHADORES II LP</td>
                                        </tr>
                                        <tr class="border-bottom">
                                            <td style="padding-left: 30px;">45435</td>
                                            <td>ABRAAJ PAKISTAN FUND I L.P.</td>
                                        </tr>
                                        <tr class="border-bottom">
                                            <td style="padding-left: 30px;">53444</td>
                                            <td>ACCION FRONTIER INCLUSION FUND L.P.</td>
                                        </tr>
                                        <tr>
                                            <td style="padding-left: 30px;">45356</td>
                                            <td>ACIBADEM CITY CLINIC B.V.</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination pull-right charectorSearch">
                                <a href="#"><i class="fa fa-angle-left fa-fw" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-angle-double-left fa-fw" aria-hidden="true"></i></a>
                                <a href="#">1</a>
                                <a class="active" href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <a href="#"><i class="fa fa-angle-double-right fa-fw" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-angle-right fa-fw" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>