<section class="content-header">
    <div class="row">
        <div class="col-lg-12">
            <div class="pull-left">
                <a href="">
                    <h4><i class="glyphicon glyphicon-menu-left font-14" aria-hidden="true"></i> Back</h4>
                </a>
            </div>
        </div>
    </div>


</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="row pad-t-5">
                        <div class="col-lg-3 box-title">
                            Event Linking - 52381
                        </div>
                        <div class="col-lg-3 box-title">
                            <i class="fa fa-circle text-blue" aria-hidden="true"></i>&nbsp;&nbsp; Event Status - Linked
                        </div>
                        <div class="col-lg-3 box-title">
                            Imported: True
                        </div>
                        <div class="col-lg-3 box-title">
                            Event Type: Settlement Receipt
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <fieldset>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Event ID</div>
                                        <div class="col-lg-6 description-header">52381</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Voucher Number</div>
                                        <div class="col-lg-6 description-header">TST83</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Legal Entity</div>
                                        <div class="col-lg-6 description-header">MCPP</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Institution</div>
                                        <div class="col-lg-6 description-header">XYZ Co</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Currency</div>
                                        <div class="col-lg-6 description-header">USD</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Local Amount</div>
                                        <div class="col-lg-6 description-header">1000.0000</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Legal Amount</div>
                                        <div class="col-lg-6 description-header">1000.0000</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Posting Date</div>
                                        <div class="col-lg-6 description-header">29 Jun 2017</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Settlement Date</div>
                                        <div class="col-lg-6 description-header">29 Jun 2017</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Initiative - Investor</div>
                                        <div class="col-lg-6 description-header">INI-MCPP SAFE-11</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Application ID</div>
                                        <div class="col-lg-6 description-header">25099</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Bank Item ID</div>
                                        <div class="col-lg-6 description-header">0</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12" ng-show="lessMore">
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">DR/CR Indicator</div>
                                        <div class="col-lg-6 description-header">DR</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Reserved Indicator</div>
                                        <div class="col-lg-6 description-header">N</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Payment Receipt</div>
                                        <div class="col-lg-6 description-header">P</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Quantity</div>
                                        <div class="col-lg-6 description-header">0</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Price Per Share</div>
                                        <div class="col-lg-6 description-header">00000</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Captions</div>
                                        <div class="col-lg-6 description-header">23456</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Remarks</div>
                                        <div class="col-lg-6 description-header">Line 1</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">FX Rate</div>
                                        <div class="col-lg-6 description-header">1.0000000000</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Created On</div>
                                        <div class="col-lg-6 description-header">29 Jun 2017</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Created By</div>
                                        <div class="col-lg-6 description-header">User 1</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Changed By</div>
                                        <div class="col-lg-6 description-header">User</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Changed On</div>
                                        <div class="col-lg-6 description-header">29 Jun 2017</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button class="btn btn-link pull-right link" ng-click="lessMore = !lessMore">{{lessMoreText}}</button>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col-lg-12 pad-b-15">
                            <h4>Split Voucher</h4>
                        </div>
                    </div>
                    <div class="alert successSplitVoucher alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> Settlement Voucher has been successfully restored
                    </div>
                    <div class="alert errorSplitVoucher alert-dismissable fade in">
                        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a> Settlement Voucher has been deleted
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-responsive table-hover" style="margin-bottom: 0;">
                                    <thead>
                                        <tr>
                                            <th>S.No</th>
                                            <th>Voucher</th>
                                            <th>Payment Type</th>
                                            <th>Initiative/Program</th>
                                            <th>Currency</th>
                                            <th>FX Rate</th>
                                            <th>Local Amount</th>
                                            <th>Legal Amount</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr ng-repeat="col in cols track by $index" ng-class="{hidden: ($index > splitVoucherIndex)}">
                                            <td>
                                                <h5>1</h5>
                                            </td>
                                            <td>
                                                <h5>Exisiting Voucher</h5>
                                            </td>
                                            <td class="form-group">
                                                <select class="form-control" id="">
                                                                                              <option selected="" value="Select">Select</option>
                                                                                              <option value="Payment">Payment</option>
                                                                                              <option value="Receipt">Receipt</option>                                                    
                                                                                          </select>
                                            </td>
                                            <td class="form-group">
                                                <select class="form-control" id="">
                                                                                                  <option selected="" value="INI-MCPP SAFE-11">INI-MCPP SAFE-11</option>
                                                                                                  <option value="INI-MCPP SAFE-12">INI-MCPP SAFE-12</option>
                                                                                              </select>
                                            </td>
                                            <td class="form-group">
                                                <select class="form-control" id="">
                                                                                                  <option selected="" value="USD">USD</option>
                                                                                                  <option value="INR">INR</option>
                                                                                                  <option value="EUR">EUR</option>
                                                                                                  </select>
                                            </td>
                                            <td class="form-group">
                                                <input class="form-control" placeholder="" value="1.0000000000" id="" type="text">
                                            </td>
                                            <td class="form-group">
                                                <input class="form-control" placeholder="" value="1.0000000000" id="" type="text">
                                            </td>
                                            <td class="form-group">
                                                <input class="form-control" placeholder="" value="1.0000000000" id="" type="text">
                                            </td>
                                            <td class="form-group">
                                                <a href="" ng-click="showNext($index)" ng-hide="$last" ng-class="{hidden: ($index < splitVoucherIndex)}" class="btn-bem fa icn-plus fa-lg pad-10 pull-left mar-t-7"></a>
                                                <a href="" ng-click="hideThis($index)" ng-hide="$first" ng-class="{hidden: ($index != splitVoucherIndex)}"><i class="fa fa-trash-o fa-fw fa-lg pad-10" aria-hidden="true"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 pad-t-20">
                            <button type="button" class="btn btn-primary pull-right" ng-model="expandme" ng-click="expandme=true">Submit</button>
                            <button type="button" class="btn btn-link link pull-right">Restore</button>
                        </div>
                    </div>

                    <div class="row pad-t-20" ng-show="expandme">
                        <div class="col-lg-12 pad-b-15">
                            <h4>Vouchers after splitting</h4>
                        </div>

                        <div class="col-lg-12">
                            <div class="col-lg-5 pad-0">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th width="20%">Link</th>
                                                <th width="20%">Event ID
                                                    <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                </th>
                                                <th width="40%">Event Type
                                                    <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                </th>
                                                <th width="20%">Event Status
                                                    <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <a href=""><i class="fa fa-link fa-fw" aria-hidden="true"></i></a>
                                                </td>
                                                <td><a href="">20041</a></td>
                                                <td>Settlement Receipt</td>
                                                <td><i class="fa fa-fw fa-circle" aria-hidden="true" style="color: #00B0FF;"></i> New</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <a href=""><i class="fa fa-link fa-fw" aria-hidden="true"></i></a>
                                                </td>
                                                <td><a href="">20041</a></td>
                                                <td>Settlement Receipt</td>
                                                <td><i class="fa fa-fw fa-circle" aria-hidden="true" style="color: #339966;"></i> New</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="col-lg-7 pad-0">
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th>Institution
                                                    <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                </th>
                                                <th>Project ID
                                                    <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                </th>
                                                <th>Investor
                                                    <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                </th>
                                                <th>Initiative
                                                    <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                </th>
                                                <th>EPMS ID
                                                    <a href="" class="fa fa-sort text-black font-12" aria-hidden="true"></a>
                                                </th>
                                                <th>Import Ref ID
                                                    <a href="" class="fa fa-sort text-black" aria-hidden="true"></a>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>XYZ Co</td>
                                                <td>8002</td>
                                                <td>IFC</td>
                                                <td>False</td>
                                                <td>7009</td>
                                                <td>3002</td>
                                            </tr>
                                            <tr>
                                                <td>XYZ Co</td>
                                                <td>8002</td>
                                                <td>IFC</td>
                                                <td>False</td>
                                                <td>7009</td>
                                                <td>3002</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>