<section class="content-header">
    <h1>
        Reconciliation Stock Record - General Ledger
    </h1>
</section>

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-2 pad-t-20">
                            <h4 class="mar-0">
                                Stock Record
                            </h4>
                        </div>
                        <div class="col-md-2 pad-t-20">
                            <span class="radio">
                            <input id="ai" type="radio" value="ai" name="stockRecord" checked="">
                            <label for="ai">All Institution</label>
                        </span>
                        </div>
                        <div class="col-md-2 pad-t-20">
                            <span class="radio">
                            <input id="il" type="radio" value="il" name="stockRecord">
                            <label for="il">Institution Lookup</label>
                            </span>
                        </div>
                        <div class="col-md-2 checkbox pad-t-20">
                            <input id="draftOnly" type="checkbox" name="draftOnly" value="">
                            <label for="draftOnly">Draft Only</label>
                        </div>
                        <div class="col-md-2 pad-t-10">
                            <div class="input-group">
                                <input class="form-control" placeholder="Search" id="" type="text">
                                <div class="input-group-btn">
                                    <button class="btn btn-primary btn-right" type="submit" data-toggle="modal" data-target="#eventDetailsModel">
                                        <span class="glyphicon glyphicon-search"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 form-group">
                            <h5>From Date <sup> * </sup></h5>
                            <div class='input-group date'>
                                <input id="date-picker-fd" placeholder="DD/MM/YYYY" type="text" class="date-picker form-control" />
                                <label for="date-picker-fd" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>                                            
                                        </label>
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <h5>To Date <sup> * </sup></h5>
                            <div class='input-group date'>
                                <input id="date-picker-td" placeholder="DD/MM/YYYY" type="text" class="date-picker form-control" />
                                <label for="date-picker-td" class="input-group-addon btn"><span class="glyphicon glyphicon-calendar"></span>                                            
                                            </label>
                            </div>
                        </div>
                        <div class="col-md-3 form-group">
                            <h5>&nbsp;</h5>
                            <button type="button" class="btn btn-primary">Show Report</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12 text-right pad-b-15">
                            <a href=""><i class="fa fa-file-excel-o text-green" aria-hidden="true"></i> Export to Excel</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-hover height-50">
                                    <thead>
                                        <tr>
                                            <th>Issuer Name (Security)</th>
                                            <th class="text-center">Last Certificate Date</th>
                                            <th class="text-center">Stock Record [Quantity/Face Value]</th>
                                            <th class="text-center">General Ledger [Quantity/Face Value]</th>
                                            <th class="text-center">Discrepancies</th>
                                            <th class="text-center">Comments</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="border-bottom">
                                            <td>BRAC Bank (Common Shares)</td>
                                            <td class="text-center">-</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">6,947,500</td>
                                            <td class="text-center">6,947,500</td>
                                            <td class="text-center">-</td>
                                        </tr>
                                        <tr class="border-bottom">
                                            <td>BRAC Bank (Common Shares)</td>
                                            <td class="text-center">-</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">6,947,500</td>
                                            <td class="text-center">6,947,500</td>
                                            <td class="text-center">-</td>
                                        </tr>
                                        <tr class="border-bottom">
                                            <td>BRAC Bank (Common Shares)</td>
                                            <td class="text-center">-</td>
                                            <td class="text-center">0</td>
                                            <td class="text-center">6,947,500</td>
                                            <td class="text-center">6,947,500</td>
                                            <td class="text-center">-</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>