<section class="content-header">
    <h1>
        Swift Settings
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box-solid">
                <div class="box-group">
                    <div class="box">
                        <div class="box-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <h5>Message Format</h5>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <select class="form-control bemCustom" id="">
                                            <option>Select</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-lg-6 pad-b-15">
                                    <button type="button" class="btn btn-primary">Get Configurations</button>
                                </div>
                            </div>
                            <fieldset>
                                <legend>Page 1</legend>
                                <div class="pull-left" style="width: 47%; padding: 0 15px;">
                                    <h4>Available Fields</h4>
                                    <div class="select-fields">
                                        <div class="col-xs-6 checkbox">
                                            <p>
                                                <input id="check1" type="checkbox" name="check" value="check1">
                                                <label for="check1">Agencia</label>
                                            </p>
                                            <p>
                                                <input id="check2" type="checkbox" name="check" value="check2">
                                                <label for="check2">ATTN</label>
                                            </p>
                                            <p>
                                                <input id="check3" type="checkbox" name="check" value="check3">
                                                <label for="check3">Base Number</label>
                                            </p>
                                            <p>
                                                <input id="check4" type="checkbox" name="check" value="check4">
                                                <label for="check4">Beneficiary Account Number</label>

                                            </p>
                                            <p>
                                                <input id="check5" type="checkbox" name="check" value="check5">
                                                <label for="check5">Beneficiary Bank Address</label>

                                            </p>
                                            <p>
                                                <input id="check6" type="checkbox" name="check" value="check6">
                                                <label for="check6">Beneficiary Bank Name</label>

                                            </p>
                                            <p>
                                                <input id="check7" type="checkbox" name="check" value="check7">
                                                <label for="check7">Beneficiary BIC Code</label>

                                            </p>
                                        </div>

                                        <div class="col-xs-6">
                                            <p>##Agencia</p>
                                            <p>##ATTN</p>
                                            <p>##BaseNumber</p>
                                            <p>##BenefiaryAccountNumber</p>
                                            <p>##BenefiaryBankAddress</p>
                                            <p>##BenefiaryBankName</p>
                                            <p>##BenefiaryBICCode</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-left text-center" style="width: 6%; padding: 0 15px;">
                                    <button type="button" class="btn btn-primary" style="position: relative; margin-top: 100px;">
                                        <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                    </button>
                                </div>
                                <div class="pull-right" style="width: 47%; padding: 0 15px;">
                                    <h4>Swift Message Format Configuration</h4>
                                    <div class="select-fields select2">
                                        <div class="col-lg-6">
                                            <ul class="pad-0">
                                                <li class="tag">20<a href="#" title="Removing tag">x</a></li>
                                                <li class="tag">EQ20<a href="#" title="Removing tag">x</a></li>
                                                <li class="tag">EQ20<a href="#" title="Removing tag">x</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset>
                                <legend>Page 2</legend>
                                <div class="pull-left" style="width: 47%; padding: 0 15px;">
                                    <h4>Available Fields</h4>
                                    <div class="select-fields">
                                        <div class="col-xs-6 checkbox">
                                            <p>
                                                <input id="check11" type="checkbox" name="check" value="check11">
                                                <label for="check11">Agencia</label>
                                            </p>
                                            <p>
                                                <input id="check12" type="checkbox" name="check" value="check12">
                                                <label for="check12">ATTN</label>
                                            </p>
                                            <p>
                                                <input id="check13" type="checkbox" name="check" value="check13">
                                                <label for="check13">Base Number</label>
                                            </p>
                                            <p>
                                                <input id="check14" type="checkbox" name="check" value="check14">
                                                <label for="check14">Beneficiary Account Number</label>

                                            </p>
                                            <p>
                                                <input id="check15" type="checkbox" name="check" value="check15">
                                                <label for="check15">Beneficiary Bank Address</label>

                                            </p>
                                            <p>
                                                <input id="check16" type="checkbox" name="check" value="check16">
                                                <label for="check16">Beneficiary Bank Name</label>

                                            </p>
                                            <p>
                                                <input id="check17" type="checkbox" name="check" value="check17">
                                                <label for="check17">Beneficiary BIC Code</label>

                                            </p>
                                        </div>

                                        <div class="col-xs-6">
                                            <p>##Agencia</p>
                                            <p>##ATTN</p>
                                            <p>##BaseNumber</p>
                                            <p>##BenefiaryAccountNumber</p>
                                            <p>##BenefiaryBankAddress</p>
                                            <p>##BenefiaryBankName</p>
                                            <p>##BenefiaryBICCode</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="pull-left text-center" style="width: 6%; padding: 0 15px;">
                                    <button type="button" class="btn btn-primary" style="position: relative; margin-top: 100px;">
                                            <i class="fa fa-chevron-right" aria-hidden="true"></i>
                                        </button>
                                </div>
                                <div class="pull-right" style="width: 47%; padding: 0 15px;">
                                    <h4>Swift Message Format Configuration</h4>
                                    <div class="select-fields select2">
                                        <div class="col-lg-6">
                                            <ul class="pad-0">
                                                <li class="tag">20<a href="#" title="Removing tag">x</a></li>
                                                <li class="tag">EQ20<a href="#" title="Removing tag">x</a></li>
                                                <li class="tag">EQ20<a href="#" title="Removing tag">x</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>


                            <div class="row">
                                <div class="col-lg-12 text-right">
                                    <button type="button" class="btn btn-primary mar-r-15">Add Page</button>
                                    <button type="button" class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>