<section class="content-header">
    <div class="row">
        <div class="col-lg-12">
            <div class="pull-left">
                <a href="">
                    <h4><i class="glyphicon glyphicon-menu-left font-14" aria-hidden="true"></i> Back</h4>
                </a>
            </div>
        </div>
    </div>


</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="row pad-t-5">
                        <div class="col-lg-2 box-title">
                            Event ID - 51875
                        </div>
                        <div class="col-lg-3 box-title">
                            <i class="fa fa-circle text-light-blue" aria-hidden="true"></i>&nbsp;&nbsp; Event Status -Trade Posted
                        </div>
                        <div class="col-lg-3 box-title">
                            Settlement Type - Settlement
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <fieldset>
                        <legend>Event Details</legend>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="col-lg-2">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Institution</div>
                                        <div class="col-lg-6 description-header">XYZ Co</div>
                                    </div>
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Project ID</div>
                                        <div class="col-lg-6 description-header">2413</div>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Initiative</div>
                                        <div class="col-lg-6 description-header">Initiative Name</div>
                                    </div>
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Investor</div>
                                        <div class="col-lg-6 description-header">Investor Name</div>
                                    </div>
                                </div>
                                <div class="col-lg-2">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Currency</div>
                                        <div class="col-lg-6 description-header">USD</div>
                                    </div>
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Quantity</div>
                                        <div class="col-lg-6 description-header">1.1</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Local Amount:</div>
                                        <div class="col-lg-6 description-header">1000.00</div>
                                    </div>
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Legal Amount:</div>
                                        <div class="col-lg-6 description-header">1000.00</div>
                                    </div>
                                </div>
                                <div class="col-lg-3">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Posting Date</div>
                                        <div class="col-lg-6 description-header">27 Jan 2017</div>
                                    </div>
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Value Date</div>
                                        <div class="col-lg-6 description-header">28 Jan 2017</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <div id="accordion">
                        <div class="row panel-heading pad-b-15">
                            <h4>
                                <a class="text-black accordion-toggle" data-toggle="collapse" data-parent="#accordion" data-target="#availableVouchersLink" href="">
                                                Available Vouchers to Link
                                            </a>
                            </h4>
                        </div>
                        <div id="availableVouchersLink" class="panel-collapse in">
                            <div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="col-lg-5 pad-0">
                                            <div class="table-responsive">
                                                <table class="table table-hover height-small">
                                                    <thead>
                                                        <tr>
                                                            <th>Link</th>
                                                            <th>Event ID
                                                                <span class="icon-sorting">
                                                                                                <a class="up" href="" aria-hidden="true"></a>
                                                                                                <a class="down" href="" aria-hidden="true"></a>
                                                                                        </span>
                                                            </th>
                                                            <th>Event Type
                                                                <span class="icon-sorting">
                                                                                                    <a class="up" href="" aria-hidden="true"></a>
                                                                                                    <a class="down" href="" aria-hidden="true"></a>
                                                                                            </span>
                                                            </th>
                                                            <th>Event Status
                                                                <span class="icon-sorting">
                                                                                                    <a class="up" href="" aria-hidden="true"></a>
                                                                                                    <a class="down" href="" aria-hidden="true"></a>
                                                                                            </span>
                                                            </th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <a href="" class="glyphicon glyphicon-search pad-t-5 mar-t-7"></a>
                                                            </td>
                                                            <td class="form-group">
                                                                <input class="form-control" id="" type="text">
                                                            </td>
                                                            <td class="form-group">
                                                                <select class="form-control" id="">
                                                                                            <option value="">Settlement Payment</option>
                                                                                            <option value="">Settlement Reciept</option>
                                                                                        </select>
                                                            </td>
                                                            <td class="form-group">
                                                                <select class="form-control" id="">
                                                                                            <option value="1">New</option>
                                                                                            <option value="1">Trade Posted</option>
                                                                                        </select>
                                                            </td>
                                                        </tr>

                                                        <tr>
                                                            <td>
                                                                <a href=""><i class="fa fa-link fa-fw" aria-hidden="true"></i></a>
                                                            </td>
                                                            <td class="text-blue">20001</td>
                                                            <td>Settlement Receipt</td>
                                                            <td><i class="fa fa-fw fa-circle" aria-hidden="true" style="color: #00B0FF;"></i> New</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <a href=""><i class="fa fa-link fa-fw" aria-hidden="true"></i></a>
                                                            </td>
                                                            <td class="text-blue">20001</td>
                                                            <td>Settlement Receipt</td>
                                                            <td><i class="fa fa-fw fa-circle" aria-hidden="true" style="color: #339966;"></i> New</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        <div class="col-lg-7 pad-0 table-scroll">

                                            <a class="text-black arrow-scroll-left" href="" data-target="#multipleEventsAvailableEvents" role="button" data-slide="prev"><i class="fa fa-chevron-left fa-fw fa-lg" aria-hidden="true"></i></a>
                                            <a class="text-black arrow-scroll-right" href="" data-target="#multipleEventsAvailableEvents" role="button" data-slide="next"><i class="fa fa-chevron-right fa-fw fa-lg" aria-hidden="true"></i></a>
                                            <div id="multipleEventsAvailableEvents" class="carousel slide" data-interval="false">
                                                <div class="carousel-inner">
                                                    <!-- item set 1 -->
                                                    <div class="table-responsive item active">
                                                        <table class="table table-hover height-small">
                                                            <thead>
                                                                <tr>
                                                                    <th>Institution
                                                                        <span class="icon-sorting">
                                                                                                    <a class="up" href="" aria-hidden="true"></a>
                                                                                                    <a class="down" href="" aria-hidden="true"></a>
                                                                                                </span>
                                                                    </th>
                                                                    <th>Project ID
                                                                        <span class="icon-sorting">
                                                                                                    <a class="up" href="" aria-hidden="true"></a>
                                                                                                    <a class="down" href="" aria-hidden="true"></a>
                                                                                                </span>
                                                                    </th>
                                                                    <th>Legal Entity
                                                                        <span class="icon-sorting">
                                                                                                    <a class="up" href="" aria-hidden="true"></a>
                                                                                                    <a class="down" href="" aria-hidden="true"></a>
                                                                                                </span>
                                                                    </th>
                                                                    <th>Imported
                                                                        <span class="icon-sorting">
                                                                                                    <a class="up" href="" aria-hidden="true"></a>
                                                                                                    <a class="down" href="" aria-hidden="true"></a>
                                                                                                </span>
                                                                    </th>
                                                                    <th>EPMS ID
                                                                        <span class="icon-sorting">
                                                                                                    <a class="up" href="" aria-hidden="true"></a>
                                                                                                    <a class="down" href="" aria-hidden="true"></a>
                                                                                                </span>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="form-group">
                                                                        <select class="form-control" id="">
                                                                                                                <option value="1">XYZ Co</option>                                                                        
                                                                                                            </select>
                                                                    </td>
                                                                    <td class="form-group">
                                                                        <input class="form-control" id="" type="text">
                                                                    </td>
                                                                    <td class="form-group">
                                                                        <select class="form-control" id="">
                                                                                                                    <option value="1">IFC</option>                                                                        
                                                                                                                </select>
                                                                    </td>
                                                                    <td class="form-group">
                                                                        <select class="form-control" id="">
                                                                                                                        <option value="1">ABS</option>                                                                        
                                                                                                                    </select>
                                                                    </td>
                                                                    <td class="form-group">
                                                                        <input class="form-control" id="" type="text">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>XYZ Co</td>
                                                                    <td>8002</td>
                                                                    <td>IFC</td>
                                                                    <td>False</td>
                                                                    <td>7009</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>XYZ Co</td>
                                                                    <td>8002</td>
                                                                    <td>IFC</td>
                                                                    <td>False</td>
                                                                    <td>7009</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- /item set 1 -->
                                                    <!-- item set 2 -->
                                                    <div class="table-responsive item">
                                                        <table class="table table-hover height-small">
                                                            <thead>
                                                                <tr>
                                                                    <th>Import Ref ID
                                                                        <span class="icon-sorting">
                                                                                                    <a class="up" href="" aria-hidden="true"></a>
                                                                                                    <a class="down" href="" aria-hidden="true"></a>
                                                                                                </span>
                                                                    </th>
                                                                    <th>Project ID
                                                                        <span class="icon-sorting">
                                                                                                    <a class="up" href="" aria-hidden="true"></a>
                                                                                                    <a class="down" href="" aria-hidden="true"></a>
                                                                                                </span>
                                                                    </th>
                                                                    <th>Investor
                                                                        <span class="icon-sorting">
                                                                                                    <a class="up" href="" aria-hidden="true"></a>
                                                                                                    <a class="down" href="" aria-hidden="true"></a>
                                                                                                </span>
                                                                    </th>
                                                                    <th>Initiative
                                                                        <span class="icon-sorting">
                                                                                                    <a class="up" href="" aria-hidden="true"></a>
                                                                                                    <a class="down" href="" aria-hidden="true"></a>
                                                                                                </span>
                                                                    </th>
                                                                    <th>EPMS ID
                                                                        <span class="icon-sorting">
                                                                                                    <a class="up" href="" aria-hidden="true"></a>
                                                                                                    <a class="down" href="" aria-hidden="true"></a>
                                                                                                </span>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td class="form-group">
                                                                        <input class="form-control" id="" type="text">
                                                                    </td>
                                                                    <td class="form-group">
                                                                        <input class="form-control" id="" type="text">
                                                                    </td>
                                                                    <td class="form-group">
                                                                        <select class="form-control" id="">
                                                                                                                    <option value="1">IFC</option>                                                                        
                                                                                                                </select>
                                                                    </td>
                                                                    <td class="form-group">
                                                                        <select class="form-control" id="">
                                                                                                                        <option value="1">ABS</option>                                                                        
                                                                                                                    </select>
                                                                    </td>
                                                                    <td class="form-group">
                                                                        <input class="form-control" id="" type="text">
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>XYZ Co</td>
                                                                    <td>8002</td>
                                                                    <td>IFC</td>
                                                                    <td>Intiative</td>
                                                                    <td>7009</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>XYZ Co</td>
                                                                    <td>8002</td>
                                                                    <td>IFC</td>
                                                                    <td>Intiative</td>
                                                                    <td>7009</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <!-- /item set 2 -->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-12 pad-b-5">
                                    <h4>Linked Vouchers</h4>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="col-lg-5 pad-0">
                                        <div class="table-responsive">
                                            <table class="table table-hover height-small">
                                                <thead>
                                                    <tr>
                                                        <th>Link</th>
                                                        <th>Event ID
                                                            <span class="icon-sorting">
                                                                                    <a class="up" href="" aria-hidden="true"></a>
                                                                                    <a class="down" href="" aria-hidden="true"></a>
                                                                            </span>
                                                        </th>
                                                        <th>Event Type
                                                            <span class="icon-sorting">
                                                                                        <a class="up" href="" aria-hidden="true"></a>
                                                                                        <a class="down" href="" aria-hidden="true"></a>
                                                                                </span>
                                                        </th>
                                                        <th>Event Status
                                                            <span class="icon-sorting">
                                                                                        <a class="up" href="" aria-hidden="true"></a>
                                                                                        <a class="down" href="" aria-hidden="true"></a>
                                                                                </span>
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>
                                                            <a href=""><i class="fa fa-chain-broken fa-fw" aria-hidden="true"></i></a>
                                                        </td>
                                                        <td class="text-blue">20001</td>
                                                        <td>Settlement Receipt</td>
                                                        <td><i class="fa fa-fw fa-circle" aria-hidden="true" style="color: #00B0FF;"></i> Linked</td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a href=""><i class="fa fa-chain-broken fa-fw" aria-hidden="true"></i></a>
                                                        </td>
                                                        <td class="text-blue">20001</td>
                                                        <td>Settlement Receipt</td>
                                                        <td><i class="fa fa-fw fa-circle" aria-hidden="true" style="color: #339966;"></i> Linked</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-lg-7 pad-0 table-scroll">
                                        <a class="text-black arrow-scroll-left" href="" data-target="#multipleEventsLinkedEvents" role="button" data-slide="prev"><i class="fa fa-chevron-left fa-fw fa-lg" aria-hidden="true"></i></a>
                                        <a class="text-black arrow-scroll-right" href="" data-target="#multipleEventsLinkedEvents" role="button" data-slide="next"><i class="fa fa-chevron-right fa-fw fa-lg" aria-hidden="true"></i></a>
                                        <div id="multipleEventsLinkedEvents" class="carousel slide" data-interval="false">
                                            <div class="carousel-inner">
                                                <!-- item set 1 -->
                                                <div class="table-responsive item active">
                                                    <table class="table table-hover height-small">
                                                        <thead>
                                                            <tr>
                                                                <th>Institution
                                                                    <span class="icon-sorting">
                                                                                        <a class="up" href="" aria-hidden="true"></a>
                                                                                        <a class="down" href="" aria-hidden="true"></a>
                                                                                    </span>
                                                                </th>
                                                                <th>Project ID
                                                                    <span class="icon-sorting">
                                                                                        <a class="up" href="" aria-hidden="true"></a>
                                                                                        <a class="down" href="" aria-hidden="true"></a>
                                                                                    </span>
                                                                </th>
                                                                <th>Legal Entity
                                                                    <span class="icon-sorting">
                                                                                        <a class="up" href="" aria-hidden="true"></a>
                                                                                        <a class="down" href="" aria-hidden="true"></a>
                                                                                    </span>
                                                                </th>
                                                                <th>Imported
                                                                    <span class="icon-sorting">
                                                                                        <a class="up" href="" aria-hidden="true"></a>
                                                                                        <a class="down" href="" aria-hidden="true"></a>
                                                                                    </span>
                                                                </th>
                                                                <th>EPMS ID
                                                                    <span class="icon-sorting">
                                                                                        <a class="up" href="" aria-hidden="true"></a>
                                                                                        <a class="down" href="" aria-hidden="true"></a>
                                                                                    </span>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <tr>
                                                                <td>XYZ Co</td>
                                                                <td>8002</td>
                                                                <td>IFC</td>
                                                                <td>False</td>
                                                                <td>7009</td>
                                                            </tr>
                                                            <tr>
                                                                <td>XYZ Co</td>
                                                                <td>8002</td>
                                                                <td>IFC</td>
                                                                <td>False</td>
                                                                <td>7009</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- /item set 1 -->
                                                <!-- item set 2 -->
                                                <div class="table-responsive item">
                                                    <table class="table table-hover height-small">
                                                        <thead>
                                                            <tr>
                                                                <th>Import REF ID
                                                                    <span class="icon-sorting">
                                                                                        <a class="up" href="" aria-hidden="true"></a>
                                                                                        <a class="down" href="" aria-hidden="true"></a>
                                                                                    </span>
                                                                </th>
                                                                <th>Settle
                                                                    <span class="icon-sorting">
                                                                                        <a class="up" href="" aria-hidden="true"></a>
                                                                                        <a class="down" href="" aria-hidden="true"></a>
                                                                                    </span>
                                                                </th>
                                                                <th>Investor
                                                                    <span class="icon-sorting">
                                                                                        <a class="up" href="" aria-hidden="true"></a>
                                                                                        <a class="down" href="" aria-hidden="true"></a>
                                                                                    </span>
                                                                </th>
                                                                <th>Initiative
                                                                    <span class="icon-sorting">
                                                                                        <a class="up" href="" aria-hidden="true"></a>
                                                                                        <a class="down" href="" aria-hidden="true"></a>
                                                                                    </span>
                                                                </th>
                                                                <th>EPMS ID
                                                                    <span class="icon-sorting">
                                                                                        <a class="up" href="" aria-hidden="true"></a>
                                                                                        <a class="down" href="" aria-hidden="true"></a>
                                                                                    </span>
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>XYZ Co</td>
                                                                <td><a href="" ui-sref="settlementModule"><i class="fa fa-handshake-o fa-fw fa-lg" aria-hidden="true"></i></a></td>
                                                                <td>IFC</td>
                                                                <td>Intiative</td>
                                                                <td>7009</td>
                                                            </tr>
                                                            <tr>
                                                                <td>XYZ Co</td>
                                                                <td><a href="" ui-sref="settlementModule"><i class="fa fa-handshake-o fa-fw fa-lg" aria-hidden="true"></i></a></td>
                                                                <td>IFC</td>
                                                                <td>Intiative</td>
                                                                <td>7009</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <!-- /item set 2 -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <button type="button" class="btn btn-primary mar-r-15">Submit All Vouchers</button>
                            <button type="button" class="btn btn-primary">Settle All Vouchers</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>