<section class="content-header">
    <h1>
        UACM
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-body">
                    <div class="row">
                        <h5 class="pull-left mar-l-15">
                            Showing 1 to 10 of 1234 with 75 pages
                        </h5>
                        <ul class="nav navbar-nav pull-right">
                            <li class="pad-l-15" style="padding-top: 7px;">Showing Records</li>
                            <li class="form-group pad-l-15 mar-r-15">
                                <select class="form-control" id="">
                                        <option value="1">Select</option>
                                        <option value="1">10</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                            </li>
                            <li class="pad-l-15" style="padding-top: 7px;">Jump To</li>
                            <li class="form-group pad-l-15 mar-r-15">
                                <select class="form-control" id="">
                                        <option value="1">Select</option>
                                        <option value="1">10</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                    </select>
                            </li>
                            <li class="mar-r-15"><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createNewUser">Create New User</button></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table table-hover table-striped mar-0">
                                    <thead>
                                        <tr>
                                            <th class="pad-l-30" width="20%">User name</th>
                                            <th width="30%">UPI Code</th>
                                            <th width="30%">Assigned Role</th>
                                            <th width="20%">Action</th>
                                        </tr>
                                    </thead>
                                </table>

                                <table class="table table-hover table-striped mar-0">
                                    <tbody>
                                        <tr class="border-bottom">
                                            <td class="pad-l-30" width="20%"><input class="form-control" id="" type="text"></td>
                                            <td width="30%"><input class="form-control" id="" type="text"></td>
                                            <td width="30%"></td>
                                            <td width="20%"></td>
                                        </tr>
                                        <tr>
                                            <td class="pad-l-30" width="20%">
                                                <button class="btn btn-bem mar-r-15" ng-model="hr1" ng-class="hr1 ? 'icn-minus' : 'icn-plus'" ng-click="hr1 = !hr1;">                                                                                
                                                    </button> IFC/AAUser</td>
                                            <td width="30%">120124</td>
                                            <td width="30%">4</td>
                                            <td width="20%"><a href=""><i class="fa fa-trash-o fa-fw fa-lg" aria-hidden="true"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-hover table-striped" style="margin-top: -1px; margin-bottom: 0;" ng-show="hr1">

                                    <tbody>
                                        <tr class="border-bottom">
                                            <td class="pad-l-30" width="15%"><strong>User Name</strong></td>
                                            <td width="15%"><strong>Email ID</strong></td>
                                            <td width="15%"><strong>UPI Code</strong></td>
                                            <td width="15%"><strong>Assigned Role</strong></td>
                                            <td width="15%"><strong>Investran Contact</strong></td>
                                            <td width="15%"><strong>Investran Licenses</strong></td>
                                            <td width="10%"><strong>Action</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="pad-l-30">IFC\AAUser</td>
                                            <td><a href="">aauser@ifc.org</a></td>
                                            <td>120124</td>
                                            <td>Maker Investran Maker InvestranDBAccess InvestranAccessRead</td>
                                            <td>User,AA</td>
                                            <td>Rainmaker 16/50, Investran 16/20</td>
                                            <td><a href=""><i class="fa fa-pencil-square-o fa-fw fa-lg" aria-hidden="true"></i></a></td>

                                        </tr>
                                    </tbody>
                                </table>

                                <table class="table table-hover table-striped mar-0">
                                    <tbody>
                                        <tr>
                                            <td class="pad-l-30" width="20%">
                                                <button class="btn btn-bem mar-r-15" ng-model="hr2" ng-class="hr2 ? 'icn-minus' : 'icn-plus'" ng-click="hr2 = !hr2;">                                                                                
                                                        </button> IFC/AAUser</td>
                                            <td width="30%">120124</td>
                                            <td width="30%">4</td>
                                            <td width="20%"><a href=""><i class="fa fa-trash-o fa-fw fa-lg" aria-hidden="true"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>
                                <table class="table table-hover table-striped" style="margin-top: -1px; margin-bottom: 0;" ng-show="hr2">

                                    <tbody>
                                        <tr class="border-bottom">
                                            <td class="pad-l-30" width="15%"><strong>User Name</strong></td>
                                            <td width="15%"><strong>Email ID</strong></td>
                                            <td width="15%"><strong>UPI Code</strong></td>
                                            <td width="15%"><strong>Assigned Role</strong></td>
                                            <td width="15%"><strong>Investran Contact</strong></td>
                                            <td width="15%"><strong>Investran Licenses</strong></td>
                                            <td width="10%"><strong>Action</strong></td>
                                        </tr>
                                        <tr>
                                            <td class="pad-l-30">IFC\AAUser</td>
                                            <td><a href="">aauser@ifc.org</a></td>
                                            <td>120124</td>
                                            <td>Maker Investran Maker InvestranDBAccess InvestranAccessRead</td>
                                            <td>User,AA</td>
                                            <td>Rainmaker 16/50, Investran 16/20</td>
                                            <td><a href=""><i class="fa fa-pencil-square-o fa-fw fa-lg" aria-hidden="true"></i></a></td>
                                        </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 pad-t-10">
                            <div class="pagination pull-right charectorSearch">
                                <a href="#"><i class="fa fa-angle-left fa-fw" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-angle-double-left fa-fw" aria-hidden="true"></i></a>
                                <a href="#">1</a>
                                <a class="active" href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <a href="#"><i class="fa fa-angle-double-right fa-fw" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-angle-right fa-fw" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</section>

<!-- Modal -->
<div id="createNewUser" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New User</h4>
            </div>
            <div class="modal-body">
                <fieldset>
                    <legend>User Details</legend>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3 form-group">
                                <h5>Type of User</h5>
                                <input class="form-control" id="" value="Windows User" type="text" disabled="">
                            </div>
                            <div class="col-lg-3 form-group">
                                <h5>User Name</h5>
                                <input class="form-control" id="" value="" type="text">
                            </div>
                            <div class="col-lg-3 form-group">
                                <h5>First Name</h5>
                                <input class="form-control" id="" value="" type="text">
                            </div>
                            <div class="col-lg-3 form-group">
                                <h5>Laste Name</h5>
                                <input class="form-control" id="" value="" type="text">
                            </div>
                            <div class="col-lg-3 form-group">
                                <h5>Email</h5>
                                <input class="form-control" id="" value="" type="text">
                            </div>
                            <div class="col-lg-3 form-group">
                                <h5>Password</h5>
                                <input class="form-control" id="" value="" type="text">
                            </div>
                            <div class="col-lg-3 form-group">
                                <h5>Repeat Password</h5>
                                <input class="form-control" id="" value="" type="text">
                            </div>
                            <div class="col-lg-3 form-group">
                                <h5>UPI</h5>
                                <input class="form-control" id="" value="" type="text">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Assign Role</legend>
                    <div class="row">
                        <div class="col-lg-12 pad-t-10">
                            <div class="col-lg-3 form-group">
                                <span class="checkbox">
                                <input id="ar1" name="assignRole" value="assignRole" type="checkbox">
                                <label for="ar1">AdminISM</label>
                            </span>
                            </div>
                            <div class="col-lg-3 form-group">
                                <span class="checkbox">
                                <input id="ar2" name="assignRole" value="assignRole" type="checkbox">
                                <label for="ar2">Administrator</label>
                                </span>
                            </div>
                            <div class="col-lg-3 form-group">
                                <span class="checkbox">
                                    <input id="ar3" name="assignRole" value="assignRole" type="checkbox">
                                    <label for="ar3">BEMReadOnlyUser</label>
                                    </span>
                            </div>
                            <div class="col-lg-3 form-group">
                                <span class="checkbox">
                                    <input id="ar4" name="assignRole" value="assignRole" type="checkbox">
                                    <label for="ar4">BEMReportUser</label>
                                </span>
                            </div>
                            <div class="col-lg-3 form-group">
                                <span class="checkbox">
                                    <input id="ar5" name="assignRole" value="assignRole" type="checkbox">
                                    <label for="ar5">Checker</label>
                                </span>
                            </div>
                            <div class="col-lg-3 form-group">
                                <span class="checkbox">
                                    <input id="ar6" name="assignRole" value="assignRole" type="checkbox">
                                    <label for="ar6">InvestranAccessRead</label>
                                </span>
                            </div>
                            <div class="col-lg-3 form-group">
                                <span class="checkbox">
                                    <input id="ar7" name="assignRole" value="assignRole" type="checkbox">
                                    <label for="ar7">InvestranChecker</label>
                                </span>
                            </div>
                            <div class="col-lg-3 form-group">
                                <span class="checkbox">
                                    <input id="ar8" name="assignRole" value="assignRole" type="checkbox">
                                    <label for="ar8">InvestranDBAccess</label>
                                </span>
                            </div>
                            <div class="col-lg-3 form-group">
                                <span class="checkbox">
                                    <input id="ar9" name="assignRole" value="assignRole" type="checkbox">
                                    <label for="ar9">InvestranMaker</label>
                                </span>
                            </div>
                            <div class="col-lg-3 form-group">
                                <span class="checkbox">
                                    <input id="ar10" name="assignRole" value="assignRole" type="checkbox">
                                    <label for="ar10">Maker</label>
                                </span>
                            </div>
                            <div class="col-lg-3 form-group">
                                <span class="checkbox">
                                    <input id="ar11" name="assignRole" value="assignRole" type="checkbox">
                                    <label for="ar11">UACMAdmin</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="modal-footer text-right">
                <button class="btn btn-primary" type="submit">Save</button>
                <button class="btn btn-primary" type="submit">Cancel</button>
            </div>
        </div>

    </div>
</div>