<section class="content-header">
    <div class="row">
        <div class="col-lg-12">
            <div class="pull-left">
                <a href="">
                    <h4><i class="glyphicon glyphicon-menu-left font-14" aria-hidden="true"></i> Back</h4>
                </a>
            </div>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-link link">Cancel</button>
                <button type="button" class="btn btn-link link" ui-sref="editStockRecords">Edit</button>
                <button type="button" class="btn btn-primary pull-right">Approve</button>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-default">
                <div class="box-header with-border header-blue-light">
                    <div class="row">
                        <div class="col-lg-3 box-title pad-t-10">
                            Institution - ACS Glass
                        </div>
                        <div class="col-lg-3 box-title pad-t-10">
                            Security - Common Shares
                        </div>
                        <div class="col-lg-3 box-title pad-t-10">
                            Stock Record Type - IFC Client Stock
                        </div>
                        <div class="col-lg-3 box-title pad-t-10">
                            Approval Status - Submitted
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-12 nav-tabs-custom mar-0">
                            <ul class="nav nav-tabs">
                                <li class="active"><a data-toggle="tab" href="" data-target="#cd">Certificate Details</a></li>
                                <li><a data-toggle="tab" href="" data-target="#dd">Depository Details</a></li>
                            </ul>

                            <div class="tab-content mar-t-15 pad-0">
                                <div id="cd" class="tab-pane fade in active">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <legend>
                                                    Certificate Details - Share Quantity
                                                </legend>
                                                <div class="row">
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Legal Entity</div>
                                                        <div class="col-xs-5"><strong>IFC</strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Denimination</div>
                                                        <div class="col-xs-5"><strong>100</strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">No. of Certificate</div>
                                                        <div class="col-xs-5"><strong>1</strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Total Quantity</div>
                                                        <div class="col-xs-5"><strong>100</strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Certificate Date</div>
                                                        <div class="col-xs-5"><strong>04/24/2018</strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Received Date</div>
                                                        <div class="col-xs-5"><strong>04/24/2018</strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Value Date</div>
                                                        <div class="col-xs-5"><strong>04/24/2018</strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Registered Name</div>
                                                        <div class="col-xs-5"><strong>NA</strong></div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <fieldset>
                                                <legend>
                                                    Certificate Number
                                                </legend>
                                                <div class="row">
                                                    <div class="col-lg-6 form-group">
                                                        <div class="col-xs-7">Prefix</div>
                                                        <div class="col-xs-5"><strong>-</strong></div>
                                                    </div>
                                                    <div class="col-lg-6 form-group">
                                                        <div class="col-xs-7">First</div>
                                                        <div class="col-xs-5"><strong>123</strong></div>
                                                    </div>
                                                    <div class="col-lg-6 form-group">
                                                        <div class="col-xs-7">Last</div>
                                                        <div class="col-xs-5"><strong>-</strong></div>
                                                    </div>
                                                    <div class="col-lg-6 form-group">
                                                        <div class="col-xs-7">Suffix</div>
                                                        <div class="col-xs-5"><strong>-</strong></div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-6">
                                            <fieldset>
                                                <legend>
                                                    Security Information
                                                </legend>
                                                <div class="row">
                                                    <div class="col-lg-6 form-group">
                                                        <div class="col-xs-7">ISIN/CUSIP</div>
                                                        <div class="col-xs-5"><strong>-</strong></div>
                                                    </div>
                                                    <div class="col-lg-6 form-group">
                                                        <div class="col-xs-7">Ticker</div>
                                                        <div class="col-xs-5"><strong>-</strong></div>
                                                    </div>
                                                    <div class="col-lg-6 form-group">
                                                        <div class="col-xs-7">Secondary Identifier</div>
                                                        <div class="col-xs-5"><strong>-</strong></div>
                                                    </div>
                                                    <div class="col-lg-6 form-group">
                                                        <div class="col-xs-7">&nbsp;</div>
                                                        <div class="col-xs-5"><strong>&nbsp;</strong></div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <fieldset>
                                                <legend>
                                                    Certificate Status
                                                </legend>
                                                <div class="row">
                                                    <div class="col-lg-6 form-group">
                                                        <div class="col-xs-7">Active</div>
                                                        <div class="col-xs-5"><strong>No</strong></div>
                                                    </div>
                                                    <div class="col-lg-6 form-group">
                                                        <div class="col-xs-7">Issue Description</div>
                                                        <div class="col-xs-5"><strong>Other</strong></div>
                                                    </div>
                                                    <div class="col-lg-6 form-group">
                                                        <div class="col-xs-7">Lock in Expiry Date</div>
                                                        <div class="col-xs-5"><strong>-</strong></div>
                                                    </div>
                                                    <div class="col-lg-6 form-group">
                                                        <div class="col-xs-7">Legend Restriction</div>
                                                        <div class="col-xs-5"><strong>-</strong></div>
                                                    </div>
                                                    <div class="col-lg-6 form-group">
                                                        <div class="col-xs-7">Transaction Type</div>
                                                        <div class="col-xs-5"><strong>Share Certificate</strong></div>
                                                    </div>
                                                    <div class="col-lg-6 form-group">
                                                        <div class="col-xs-7">Reason</div>
                                                        <div class="col-xs-5"><strong>Conversion</strong></div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="col-lg-6">
                                            <fieldset>
                                                <legend>
                                                    Certificate Confirmation
                                                </legend>
                                                <div class="row">
                                                    <div class="col-lg-6 form-group">
                                                        <div class="col-xs-7">Received From</div>
                                                        <div class="col-xs-5"><strong>4/24/2018</strong></div>
                                                    </div>
                                                    <div class="col-lg-6 form-group">
                                                        <div class="col-xs-7">Received Date</div>
                                                        <div class="col-xs-5"><strong>4/24/2018</strong></div>
                                                    </div>
                                                    <div class="col-lg-6 form-group">
                                                        <div class="col-xs-7">Email Address</div>
                                                        <div class="col-xs-5"><strong>-</strong></div>
                                                    </div>
                                                    <div class="col-lg-6 form-group">
                                                        <div class="col-xs-7">&nbsp;</div>
                                                        <div class="col-xs-5"><strong>&nbsp;</strong></div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <legend>Associated files</legend>
                                                <div class="row">
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">File</div>
                                                        <div class="col-xs-5"><strong>xyz.pdf</strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">File Type</div>
                                                        <div class="col-xs-5"><strong>PDF</strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Email Address</div>
                                                        <div class="col-xs-5"><strong>-</strong></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="col-lg-12">
                                                            <div class="table-responsive">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td>1</td>
                                                                            <td><i class="fa fa-file-pdf-o fa-fw text-red" aria-hidden="true"></i> Attached File Number One.pdf</td>
                                                                            <td>Certificate Copy</td>
                                                                            <td>
                                                                                <a href=""><i class="fa fa-eye fa-fw" aria-hidden="true"></i></a>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td>2</td>
                                                                            <td><i class="fa fa-file-excel-o fa-fw text-green" aria-hidden="true"></i> Attached File Number Two.xls</td>
                                                                            <td>Certificate Copy</td>
                                                                            <td>
                                                                                <a href=""><i class="fa fa-eye fa-fw" aria-hidden="true"></i></a>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                                <div id="dd" class="tab-pane fade">
                                    <div class="row">
                                        <div class="col-sm-2 mar-t-15">
                                            <h4>Depository: </h4>
                                        </div>
                                        <div class="col-lg-3 form-group mar-t-15">
                                            <h4><strong>ACS Glass</strong></h4>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <legend>Address</legend>
                                                <div class="row">
                                                    <div class="col-lg-12 form-group">
                                                        <div class="col-xs-2">Highlight</div>
                                                        <div class="col-xs-10"><strong> - </strong></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Street 1</div>
                                                        <div class="col-xs-5"><strong> - </strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Street 2</div>
                                                        <div class="col-xs-5"><strong> - </strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Sector</div>
                                                        <div class="col-xs-5"><strong> - </strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">City</div>
                                                        <div class="col-xs-5"><strong> - </strong></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Country</div>
                                                        <div class="col-xs-5"><strong> - </strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Telephone</div>
                                                        <div class="col-xs-5"><strong> - </strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Telex</div>
                                                        <div class="col-xs-5"><strong> - </strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Fax</div>
                                                        <div class="col-xs-5"><strong> - </strong></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Email</div>
                                                        <div class="col-xs-5"><strong> - </strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Swift Code</div>
                                                        <div class="col-xs-5"><strong> - </strong></div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <fieldset>
                                                <legend>Contact</legend>
                                                <div class="row">
                                                    <div class="col-lg-12 form-group">
                                                        <div class="col-xs-2">Highlight</div>
                                                        <div class="col-xs-10"><strong> - </strong></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Name</div>
                                                        <div class="col-xs-5"><strong> - </strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Title</div>
                                                        <div class="col-xs-5"><strong> - </strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Telephone</div>
                                                        <div class="col-xs-5"><strong> - </strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Telex</div>
                                                        <div class="col-xs-5"><strong> - </strong></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Swift Code</div>
                                                        <div class="col-xs-5"><strong> - </strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Department</div>
                                                        <div class="col-xs-5"><strong> - </strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Fax</div>
                                                        <div class="col-xs-5"><strong> - </strong></div>
                                                    </div>
                                                    <div class="col-lg-3 form-group">
                                                        <div class="col-xs-7">Email</div>
                                                        <div class="col-xs-5"><strong> - </strong></div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 text-right">
                            <button type="button" class="btn btn-link link">Cancel</button>
                            <button type="button" class="btn btn-link link" ui-sref="editStockRecords">Edit</button>
                            <button type="button" class="btn btn-primary">Approve</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>