<section class="content-header">
    <div class="row">

        <div class="col-lg-12">
            <div class="pull-left">
                <a href="">
                    <h4><i class="glyphicon glyphicon-menu-left font-14" aria-hidden="true"></i> Back</h4>
                </a>
            </div>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-link link"><i class="fa fa-clone" aria-hidden="true"></i> Clone</button>
                <button type="button" class="btn btn-link link">Approve</button>
                <button type="button" class="btn btn-link link">Cancel</button>
                <button type="button" class="btn btn-primary pull-right" ui-sref="editStockSplitConsolidation">Edit</button>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-lg-2 box-title pad-t-5">
                            Stock Split
                        </div>
                        <div class="col-lg-4 box-title pad-t-5">
                            <i class="fa fa-circle text-light-blue" aria-hidden="true"></i>&nbsp;&nbsp; Status - Trade Posted
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <fieldset>
                        <legend>Event Details</legend>
                        <div class="col-lg-3">
                            <div class="row description-block">
                                <div class="col-lg-6 description-text">Event ID</div>
                                <div class="col-lg-6 description-header">32381</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row description-block">
                                <div class="col-lg-6 description-text">Institution</div>
                                <div class="col-lg-6 description-header">ABC Coffee</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row description-block">
                                <div class="col-lg-6 description-text">Legal Entity</div>
                                <div class="col-lg-6 description-header">IFC Special Ledger</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row description-block">
                                <div class="col-lg-6 description-text">Initiative</div>
                                <div class="col-lg-6 description-header">Name</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row description-block">
                                <div class="col-lg-6 description-text">Event Type</div>
                                <div class="col-lg-6 description-header">Journal Entry</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row description-block">
                                <div class="col-lg-6 description-text">Investor</div>
                                <div class="col-lg-6 description-header">Investor Name</div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>Event References</legend>
                        <div class="col-lg-3">
                            <div class="row description-block">
                                <div class="col-lg-6 description-text">Posting Date</div>
                                <div class="col-lg-6 description-header">27 Jul 2017</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row description-block">
                                <div class="col-lg-6 description-text">Value Date</div>
                                <div class="col-lg-6 description-header">27 Jul 2017</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row description-block">
                                <div class="col-lg-6 description-text">EPMS Transaction ID</div>
                                <div class="col-lg-6 description-header">41342</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row description-block">
                                <div class="col-lg-6 description-text">Modificaiton Date</div>
                                <div class="col-lg-6 description-header">25 Jul 2017</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row description-block">
                                <div class="col-lg-6 description-text">Reference Event ID</div>
                                <div class="col-lg-6 description-header">12821</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row description-block">
                                <div class="col-lg-6 description-text">Proration Method</div>
                                <div class="col-lg-6 description-header">Equal</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row description-block">
                                <div class="col-lg-6 description-text">Remarks</div>
                                <div class="col-lg-6 description-header"> - </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row pad-b-25">
                        <div class="col-lg-12 bg-blue-light">
                            <h4>
                                Transaction Details
                            </h4>
                            <div class="row">
                                <div class="col-lg-3 pad-b-15">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Description</div>
                                        <div class="col-lg-6 description-header">Equity</div>
                                    </div>
                                </div>
                                <div class="col-lg-3 pad-b-15">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Security Type</div>
                                        <div class="col-lg-6 description-header">Common Shares</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 pad-b-15">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Option ID</div>
                                        <div class="col-lg-6 description-header">0</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 pad-b-15">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Split Ratio</div>
                                        <div class="col-lg-6 description-header">-</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 pad-b-15">
                                    <div class="row description-block">
                                        <div class="col-lg-6 description-text">Quantity</div>
                                        <div class="col-lg-6 description-header">0</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h4 class="pad-l-15">Generated Entries</h4>

                <div class="box-body">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li class="active"><a data-toggle="pill" data-target="#pt" href="">Proration (Trade)</a></li>
                            <li><a data-toggle="pill" data-target="#ps" href="">Proration (Settlement)</a></li>
                            <li><a data-toggle="pill" data-target="#kpi" href="">KPI</a></li>
                            <li><a data-toggle="pill" data-target="#pc" href="">Proration Calculations</a></li>
                            <li><a data-toggle="pill" data-target="#kc" href="">KPI Calculations</a></li>
                            <li><a data-toggle="pill" data-target="#tda" href="">Trade Data Accounting</a></li>
                            <li><a data-toggle="pill" data-target="#sa" href="">Settlement Accounting</a></li>
                        </ul>

                        <div class="tab-content pad-0">
                            <div id="pt" class="tab-pane fade in active">
                                <div class="table-responsive">
                                    <table class="table table-striped height-50">
                                        <thead>
                                            <tr>
                                                <th>Project - Tranche</th>
                                                <th class="checkbox">
                                                    <input id="Prorate1" name="check" value="Prorate1" type="checkbox">
                                                    <label class="pad-t-5" for="Prorate1">Prorate</label>
                                                </th>
                                                <th>Weights</th>
                                                <th>Quantity</th>
                                                <th>Prorated Amount Local</th>
                                                <th>Prorated Amount Legal</th>
                                                <th>Cost of Sale Local Amount</th>
                                                <th>Cost of sale Legal Entity Amount</th>
                                                <th>ain LossLocal Amount</th>
                                                <th>Gain Loss Legal entity Amount</th>
                                                <th>Cost of Sale (Cash Basis) Local Amount</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="border-down">
                                                <td>3114-50</td>
                                                <td class="checkbox">
                                                    <input id="Prorate2" name="check" value="Prorate2" type="checkbox">
                                                    <label class="pad-t-5" for="Prorate2"></label>
                                                </td>
                                                <td class="form-group">
                                                    <input class="form-control text-right" id="" value="0.0000" type="text">
                                                </td>
                                                <td>0.0000</td>
                                                <td>0.0000</td>
                                                <td>0.0000</td>
                                                <td>INR</td>
                                                <td>0.0000</td>
                                                <td>0.0000</td>
                                                <td>0.0000</td>
                                                <td>0.0000</td>
                                            </tr>
                                            <tr>

                                                <td>Total</td>
                                                <td></td>
                                                <td></td>
                                                <td>0.0000</td>
                                                <td>0.0000</td>
                                                <td>0.0000</td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="ps" class="tab-pane fade">
                                <div class="table-responsive">
                                    <table class="table height-50">
                                        <thead>
                                            <tr>
                                                <th>Project ID</th>
                                                <th>Tranche Number</th>
                                                <th>Prorate</th>
                                                <th>Weights</th>
                                                <th>Quantity</th>
                                                <th>Prorated Amount Local</th>
                                                <th>Prorated Amount Legal</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>3024</td>
                                                <td>50</td>
                                                <td>No</td>
                                                <td>0.0000</td>
                                                <td>0.0000</td>
                                                <td>0.0000</td>
                                                <td>0.0000</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="kpi" class="tab-pane fade">
                                <div class="table-responsive">
                                    <table class="table height-50">
                                        <thead>
                                            <tr>
                                                <th>Project ID</th>
                                                <th>Tranche Number</th>
                                                <th>Total Commitment</th>
                                                <th>Disbursed and Outstanding</th>
                                                <th>Undisbursed</th>
                                                <th>Share Quantity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>3024</td>
                                                <td>80</td>
                                                <td>No</td>
                                                <td>0.0000</td>
                                                <td>0.0000</td>
                                                <td>0.0000</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="pc" class="tab-pane fade">
                                <div class="table-responsive">
                                    <table class="table height-50">
                                        <tbody>
                                            <tr>
                                                <td width="30%">Proration Attribute</td>
                                                <td>3024 - 50</td>
                                            </tr>
                                            <tr>
                                                <td>Purchase as of: 06/12/2017</td>
                                                <td>0.0000</td>
                                            </tr>
                                            <tr>
                                                <td>Share Quantity as of : 06/12/2017</td>
                                                <td>0.0000</td>
                                            </tr>
                                            <tr>
                                                <td>Calculate weights (Based on Commitment)</td>
                                                <td>0.0000</td>
                                            </tr>
                                            <tr>
                                                <td>Prorated amount (USD)</td>
                                                <td>0.0000</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="kc" class="tab-pane fade">
                                <div class="table-responsive">
                                    <table class="table height-50">
                                        <tbody>
                                            <tr>
                                                <td width="30%">KPI(s) Description</td>
                                                <td>3024 - 50</td>
                                            </tr>
                                            <tr>
                                                <td>Total Commitment</td>
                                                <td>0.0000</td>
                                            </tr>
                                            <tr>
                                                <td>Additional Purchase</td>
                                                <td>0.0000</td>
                                            </tr>
                                            <tr>
                                                <td>Net Purchases</td>
                                                <td>0.0000</td>
                                            </tr>
                                            <tr>
                                                <td>Net Share Quantity </td>
                                                <td>0.0000</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="tda" class="tab-pane fade">
                                <div class="table-responsive">
                                    <table class="table height-50">
                                        <thead>
                                            <tr>
                                                <th>Batch Id</th>
                                                <th>Batch Status</th>
                                                <th>Posting Date</th>
                                                <th>Comments:</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>3024</td>
                                                <td>50</td>
                                                <td>No</td>
                                                <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="sa" class="tab-pane fade">
                                <div class="table-responsive">
                                    <table class="table height-50">
                                        <thead>
                                            <tr>
                                                <th>Batch Id</th>
                                                <th>Batch Status</th>
                                                <th>Batch Comments</th>
                                                <th>Posting Date</th>
                                                <th>Voucher Numbe</th>
                                                <th>Voucher Remarks</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                                <td>-</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-lg-12 pad-t-20">
                            <button type="button" class="btn btn-primary pull-right" ui-sref="editStockSplitConsolidation">Edit</button>
                            <button type="button" class="btn btn-link link pull-right">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>