<section class="content-header">
    <div class="row">

        <div class="col-lg-12">
            <div class="pull-left">
                <a href="">
                    <h4><i class="glyphicon glyphicon-menu-left font-14" aria-hidden="true"></i> Back</h4>
                </a>
            </div>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-link link"><i class="fa fa-clone" aria-hidden="true"></i> Clone</button>
                <button type="button" class="btn btn-link link">Cancel</button>
                <button type="button" class="btn btn-primary pull-right" ui-sref="editTransferEvent">Edit</button>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-lg-2 box-title pad-t-5">
                            Transfer Event
                        </div>
                        <div class="col-lg-4 box-title pad-t-5">
                            <i class="fa fa-circle text-light-blue" aria-hidden="true"></i> Status - Edited
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <fieldset>
                        <legend>Event Reference</legend>
                        <div class="col-lg-3">
                            <div class="row description-block">
                                <div class="col-lg-6 description-text">Posting Date</div>
                                <div class="col-lg-6 description-header">27 Jul 2017</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row description-block">
                                <div class="col-lg-6 description-text">Value Date</div>
                                <div class="col-lg-6 description-header">27 Jul 2017</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row description-block">
                                <div class="col-lg-6 description-text">Proration Method</div>
                                <div class="col-lg-6 description-header">Equal</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row description-block">
                                <div class="col-lg-6 description-text">EPMS Transaction ID</div>
                                <div class="col-lg-6 description-header">65317</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row description-block">
                                <div class="col-lg-6 description-text">Workflow Number</div>
                                <div class="col-lg-6 description-header"> - </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row description-block">
                                <div class="col-lg-6 description-text">Imported Reference ID</div>
                                <div class="col-lg-6 description-header">Field Value</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row description-block">
                                <div class="col-lg-6 description-text">Imported</div>
                                <div class="col-lg-6 description-header">False</div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="row description-block">
                                <div class="col-lg-6 description-text">Remarks</div>
                                <div class="col-lg-6 description-header"> - </div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row pad-b-25">
                        <div class="col-lg-12 bg-blue-light">
                            <h4>
                                Transfer Details
                            </h4>
                            <div class="row">
                                <div class="col-lg-5">
                                    <fieldset>
                                        <legend>To</legend>
                                        <div class="col-lg-3 pad-b-15">Institution:</div>
                                        <div class="col-lg-3 pad-b-15"><strong>7 Capital</strong></div>
                                        <div class="col-lg-3 pad-b-15">Security Group:</div>
                                        <div class="col-lg-3 pad-b-15"><strong>Equity</strong></div>
                                    </fieldset>
                                </div>
                                <div class="col-lg-5">
                                    <fieldset>
                                        <legend>From</legend>
                                        <div class="col-lg-3 pad-b-15">Institution:</div>
                                        <div class="col-lg-3 pad-b-15"><strong>8 Miles</strong></div>
                                        <div class="col-lg-3 pad-b-15">Security Group:</div>
                                        <div class="col-lg-3 pad-b-15"><strong>Equity</strong></div>
                                    </fieldset>
                                </div>
                                <div class="col-lg-2">
                                    <h4 class="mar-0 pad-b-15">&nbsp;</h4>
                                    <div class="row">
                                        <div class="col-lg-6 pad-b-15">Currency:</div>
                                        <div class="col-lg-6 pad-b-15"><strong>USD</strong></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="table-responsive pad-t-5">
                        <table class="table mar-0">
                            <thead>
                                <tr>
                                    <th>From - 8 Miles</th>
                                    <th></th>
                                    <th>To - 7L Capital</th>
                                    <th></th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>50 - Non-Share Equity</td>
                                    <td></td>
                                    <td>50 - Non-Share Equity</td>
                                    <td>51 - Common Share</td>
                                </tr>
                                <tr>
                                    <td>51 - Common Share</td>
                                    <td></td>
                                    <td>52 - Non-Share Equity</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <h4 class="pad-l-15">Generated Entries</h4>

                <div class="box-body">
                    <div class="table-responsive no-padding">
                        <div class="nav-tabs-custom">
                            <ul class="nav nav-tabs mar-0">
                                <li class="active"><a href="" data-target="#ge_1" data-toggle="tab" aria-expanded="true">Proration (From)</a></li>
                                <li class=""><a href="" data-target="#ge_2" data-toggle="tab" aria-expanded="false">Proration (To)</a></li>
                                <li class=""><a href="" data-target="#ge_3" data-toggle="tab" aria-expanded="false">Trade Date Accounting</a></li>
                            </ul>
                            <div class="tab-content pad-0">
                                <div class="tab-pane active" id="ge_1">
                                    <div class="table-responsive">
                                        <table class="table table-hover table-striped" style="margin: 0;">
                                            <thead>
                                                <tr>
                                                    <th colspan="5"></th>
                                                    <th colspan="2">Undisbursed Amount</th>
                                                    <th colspan="2">Disbursement Cost Basis</th>
                                                </tr>
                                                <tr>
                                                    <th>From</th>
                                                    <th>Project ID</th>
                                                    <th>Tranche Number</th>
                                                    <th>Local Currency</th>
                                                    <th>Quantity</th>
                                                    <th>Local</th>
                                                    <th>Legal</th>
                                                    <th>Local</th>
                                                    <th>Legal</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>

                                                    <td>
                                                        <button class="btn btn-bem" ng-model="generalEntries" ng-class="generalEntries ? 'icn-minus' : 'icn-plus'" ng-click="generalEntries = !generalEntries;">                                                                                
                                                                </button>
                                                    </td>
                                                    <td>3014-50</td>
                                                    <td>50</td>
                                                    <td>USD</td>
                                                    <td class="form-group">
                                                        <input class="form-control text-right" id="" placeholder="0.0000" type="text">
                                                    </td>
                                                    <td class="form-group">
                                                        <input class="form-control text-right" id="" placeholder="0.0000" type="text">
                                                    </td>
                                                    <td class="form-group">
                                                        <input class="form-control text-right" id="" placeholder="0.0000" type="text">
                                                    </td>
                                                    <td class="form-group">
                                                        <input class="form-control text-right" id="" placeholder="0.0000" type="text">
                                                    </td>
                                                    <td class="form-group">
                                                        <input class="form-control text-right" id="" placeholder="0.0000" type="text">
                                                    </td>
                                                </tr>
                                                <tr>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <table class="table table-responsive ng-hide" ng-show="generalEntries">
                                            <tbody>
                                                <tr class="pad-5">
                                                    <th colspan="5"></th>
                                                    <th colspan="2">Undisbursement Outstanding</th>
                                                    <th colspan="2">Disbursement Cost Basis</th>
                                                </tr>
                                                <tr>
                                                    <th>To:(Weights)</th>
                                                    <th>Project ID</th>
                                                    <th>Tranche Number</th>
                                                    <th>Local Currency</th>
                                                    <th>Quantity</th>
                                                    <th>Local</th>
                                                    <th>Legal</th>
                                                    <th>Local</th>
                                                    <th>Legal</th>
                                                </tr>
                                                <tr>
                                                    <td class="form-group">
                                                        <input class="form-control text-right" id="" placeholder="0.0000" type="text">
                                                    </td>
                                                    <td>3014-50</td>
                                                    <td>50</td>
                                                    <td class="form-group">
                                                        <select class="form-control" id="">
                                                                                                <option value="Equal Proration"></option>                                                      
                                                                                            </select>
                                                    </td>
                                                    <td class="form-group">
                                                        <input class="form-control text-right" id="" placeholder="0.0000" type="text">
                                                    </td>
                                                    <td class="form-group">
                                                        <input class="form-control text-right" id="" placeholder="0.0000" type="text">
                                                    </td>
                                                    <td class="form-group">
                                                        <input class="form-control text-right" id="" placeholder="0.0000" type="text">
                                                    </td>
                                                    <td class="form-group">
                                                        <input class="form-control text-right" id="" placeholder="0.0000" type="text">
                                                    </td>
                                                    <td class="form-group">
                                                        <input class="form-control text-right" id="" placeholder="0.0000" type="text">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td class="form-group">
                                                        <input class="form-control text-right" id="" placeholder="0.0000" type="text">
                                                    </td>
                                                    <td>3014-50</td>
                                                    <td>50</td>
                                                    <td class="form-group">
                                                        <select class="form-control" id="">
                                                                                                        <option value="Equal Proration"></option>                                                      
                                                                                                    </select>
                                                    </td>
                                                    <td class="form-group">
                                                        <input class="form-control text-right" id="" placeholder="0.0000" type="text">
                                                    </td>
                                                    <td class="form-group">
                                                        <input class="form-control text-right" id="" placeholder="0.0000" type="text">
                                                    </td>
                                                    <td class="form-group">
                                                        <input class="form-control text-right" id="" placeholder="0.0000" type="text">
                                                    </td>
                                                    <td class="form-group">
                                                        <input class="form-control text-right" id="" placeholder="0.0000" type="text">
                                                    </td>
                                                    <td class="form-group">
                                                        <input class="form-control text-right" id="" placeholder="0.0000" type="text">
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>



                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="ge_2">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th colspan="4"></th>
                                                    <th colspan="2">Undisbursed Amount</th>
                                                    <th colspan="2">Disbursement Cost Basis</th>
                                                </tr>
                                                <tr>
                                                    <th>Project ID</th>
                                                    <th>Tranche Number</th>
                                                    <th>Local Currency</th>
                                                    <th>Quantity</th>
                                                    <th>Local</th>
                                                    <th>Legal</th>
                                                    <th>Local</th>
                                                    <th>Legal</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>24464</td>
                                                    <td>50</td>
                                                    <td>USD</td>
                                                    <td>567,788.0000</td>
                                                    <td>0.0000</td>
                                                    <td>0.0000</td>
                                                    <td>0.0000</td>
                                                    <td>0.0000</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th colspan="4"></th>
                                                    <th colspan="2">Undisbursed Amount</th>
                                                    <th colspan="2">Disbursement Cost Basis</th>
                                                </tr>
                                                <tr>
                                                    <th>Project ID</th>
                                                    <th>Tranche Number</th>
                                                    <th>Local Currency</th>
                                                    <th>Quantity</th>
                                                    <th>Local</th>
                                                    <th>Legal</th>
                                                    <th>Local</th>
                                                    <th>Legal</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>24464</td>
                                                    <td>50</td>
                                                    <td>USD</td>
                                                    <td>567,788.0000</td>
                                                    <td>0.0000</td>
                                                    <td>0.0000</td>
                                                    <td>0.0000</td>
                                                    <td>0.0000</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <!-- /.tab-pane -->
                                <div class="tab-pane" id="ge_3">
                                    <div class="row pad-t-20">
                                        <div class="col-lg-5 pad-0 form-group">
                                            <div class="col-xs-3"><strong>Batch ID:</strong></div>
                                            <div class="col-xs-9">0</div>
                                        </div>
                                        <div class="col-lg-5 pad-0 form-group">
                                            <div class="col-xs-4"><strong>Batch Status:</strong></div>
                                            <div class="col-xs-8">Draft </div>
                                        </div>
                                        <div class="col-lg-5 pad-0 form-group">
                                            <div class="col-xs-3"><strong>Comments:</strong></div>
                                            <div class="col-xs-9">Transfer - Company to Company 13/Jul/2017</div>
                                        </div>
                                        <div class="col-lg-5 pad-0 form-group">
                                            <div class="col-xs-4"><strong>Posting Date:</strong></div>
                                            <div class="col-xs-8">13/Jul/2017</div>
                                        </div>
                                    </div>
                                    <div class="table-responsive pad-t-20">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>S.No</th>
                                                    <th>Project ID</th>
                                                    <th>Tranche Number</th>
                                                    <th>Account</th>
                                                    <th>Transaction Type</th>
                                                    <th>Position</th>
                                                    <th>Currency</th>
                                                    <th>LA(FCY)Debit</th>
                                                    <th>LA(FCY)Credit</th>
                                                    <th>LE(USD)Debit</th>
                                                    <th>LE(USD)Credit</th>
                                                    <th>Quantity</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <h5>1</h5>
                                                    </td>
                                                    <td>
                                                        <h5>24464</h5>
                                                        <h5>24464</h5>
                                                    </td>
                                                    <td>
                                                        <h5>50</h5>
                                                        <h5>50</h5>
                                                    </td>
                                                    <td>
                                                        <h5>1300560</h5>
                                                        <h5>1300560</h5>
                                                    </td>
                                                    <td>
                                                        <h5>Equity Commitment -Transfer to other company - CR</h5>
                                                    </td>
                                                    <td>
                                                        <h5>7L Capital (Non-Share Equity 50)</h5>
                                                    </td>
                                                    <td>
                                                        <h5>EUR</h5>
                                                        <h5>EUR</h5>
                                                    </td>
                                                    <td>
                                                        <h5>4,025,759.1400</h5>
                                                        <h5>4,025,759.1400</h5>
                                                    </td>
                                                    <td>
                                                        <h5>4,025,759.1400</h5>
                                                        <h5>4,025,759.1400</h5>
                                                    </td>
                                                    <td>
                                                        <h5>5,500,306.7762</h5>
                                                        <h5>5,500,306.7762</h5>
                                                    </td>
                                                    <td>
                                                        <h5>5,500,306.7762</h5>
                                                        <h5>5,500,306.7762</h5>
                                                    </td>
                                                    <td>
                                                        <h5>0.0000</h5>
                                                        <h5>0.0000</h5>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 pad-t-20">
                            <button type="button" class="btn btn-primary pull-right" ui-sref="editTransferEvent">Edit</button>
                            <button type="button" class="btn btn-link link pull-right">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>