<section class="content-header">
    <div class="row">
        <div class="col-lg-12">
            <div class="pull-left">
                <a href="">
                    <h4><i class="glyphicon glyphicon-menu-left font-14" aria-hidden="true"></i> Back</h4>
                </a>
            </div>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-primary pull-right" ui-sref="eventDetails">Export Batch</button>
            </div>
        </div>
    </div>
</section>

<section class="content">
    <div class="row">
        <div class="col-lg-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <div class="row">
                        <div class="col-lg-2 box-title pad-t-5">
                            Batch Process
                        </div>
                        <div class="col-lg-4 box-title pad-t-5">
                            <i class="fa fa-circle text-light-blue" aria-hidden="true"></i>&nbsp;&nbsp; Status - Trade Posted
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <fieldset>
                        <legend>
                            Event Details
                        </legend>
                        <div class="row">
                            <div class="col-lg-3 form-group">
                                <div class="col-xs-5"><strong>Event ID</strong></div>
                                <div class="col-xs-7">29717</div>
                            </div>
                            <div class="col-lg-3 form-group">
                                <div class="col-xs-5"><strong>Legal Entity</strong></div>
                                <div class="col-xs-7">IFC Special Ledger</div>
                            </div>
                            <div class="col-lg-3 form-group">
                                <div class="col-xs-5"><strong>Upload Event Type</strong></div>
                                <div class="col-xs-7">EITF Write-down Batch</div>
                            </div>
                            <div class="col-lg-3 form-group">
                                <div class="col-xs-5"><strong>Project</strong></div>
                                <div class="col-xs-7">Project ABC</div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <legend>
                            Event References
                        </legend>
                        <div class="row">
                            <div class="col-lg-4 form-group">
                                <div class="col-xs-5"><strong>Posting Date</strong></div>
                                <div class="col-xs-7">29717</div>
                            </div>
                            <div class="col-lg-4 form-group">
                                <div class="col-xs-5"><strong>Value Date</strong></div>
                                <div class="col-xs-7">25 Jul 2017</div>
                            </div>
                            <div class="col-lg-4 form-group">
                                <div class="col-xs-5"><strong>File Uploaded</strong></div>
                                <div class="col-xs-7">EITF Write Down 12-31-2014 Provided to InvSupport Revised</div>
                            </div>
                        </div>
                    </fieldset>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-12 line-header">
                                <span>Batch File Content</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h5 class="pull-left mar-l-15">
                            Showing 1 to 10 of 1234 with 75 pages
                        </h5>
                        <ul class="nav navbar-nav pull-right">
                            <li class="form-group mar-r-15"><button type="button" class="btn btn-primary pull-right">Export Batch</button></li>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="table scroll-table-height table-striped">
                                    <thead>
                                        <tr>
                                            <th>Dept.</th>
                                            <th>Company</th>
                                            <th>Country</th>
                                            <th>Tranche Number</th>
                                            <th>Obligation Number</th>
                                            <th>Instr. Type</th>
                                            <th>Currency</th>
                                            <th>Amount Type</th>
                                            <th>Write-down Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>CFGS6</td>
                                            <td>Advans Congo</td>
                                            <td>DRC</td>
                                            <td>26407-50</td>
                                            <td>0</td>
                                            <td>ET474</td>
                                            <td>USD</td>
                                            <td>Equity</td>
                                            <td>184050.500</td>
                                        </tr>
                                        <tr>
                                            <td>CFGS6</td>
                                            <td>Advans Congo</td>
                                            <td>DRC</td>
                                            <td>26407-50</td>
                                            <td>0</td>
                                            <td>ET474</td>
                                            <td>USD</td>
                                            <td>Equity</td>
                                            <td>184050.500</td>
                                        </tr>
                                        <tr>
                                            <td>CFGS6</td>
                                            <td>Advans Congo</td>
                                            <td>DRC</td>
                                            <td>26407-50</td>
                                            <td>0</td>
                                            <td>ET474</td>
                                            <td>USD</td>
                                            <td>Equity</td>
                                            <td>184050.500</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="pagination pull-right charectorSearch">
                                <a href="#"><i class="fa fa-angle-left fa-fw" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-angle-double-left fa-fw" aria-hidden="true"></i></a>
                                <a href="#">1</a>
                                <a class="active" href="#">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#">5</a>
                                <a href="#">6</a>
                                <a href="#"><i class="fa fa-angle-double-right fa-fw" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-angle-right fa-fw" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>